/******************************************************************************
  ARAMCO BUTTONS
*******************************************************************************/

.btn-mycareer-performance-wizard {
  color: $sa-black;
  background-color: $sa-white;
  border-color: $transparent-bg;
  border-radius: 0px !important;
  &:hover, &:focus, &:active, &.active {
    color: #ffffff;
    background-color: $sa-light-blue;
  //  background-color: lighten($sa-light-blue, 13.5%);
  }
}

.btn-mycareer-development-wizard {
  color: $sa-black;
  background-color: $sa-white;
  border-color: $transparent-bg;
  border-radius: 0px !important;
  &:hover, &:focus, &:active, &.active {
    color: #ffffff;
    background-color: $sa-orange;
  }
}


.btn-mycareer-opportunities-wizard {
  color: $sa-black;
  background-color: $sa-white;
  border-color: $transparent-bg;
  border-radius: 0px !important;
  &:hover, &:focus, &:active, &.active {
    color: #ffffff;
    background-color: $sa-purple;
  }
}


.btn-mycareer-management-wizard {
  color: $sa-black;
  background-color: $sa-white;
  border-color: $transparent-bg;
  border-radius: 0px !important;
  &:hover, &:focus, &:active, &.active {
    color: #ffffff;
    background-color: $sa-light-green;
  }
}



.btn-aramco-white-outline {
  color: $sa-white;
  background-color: transparent;
  border-color: $sa-white;
  border-radius: 0px !important;
  border-width: 2px;
  &:hover, &:focus, &:active, &.active {
    color: $sa-dark-gray;
    background-color: $sa-white;
    border-color: $sa-white;
  }
}

.open .dropdown-toggle.btn-aramco-white-outline {
  color: $sa-white;
  background-color: $sa-white;
  border-color: $sa-white;
}

.btn-aramco-white-outline {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-aramco-white-outline {
  background-image: none;
}

.btn-aramco-white-outline {
  &.disabled, &[disabled] {
    background-color: $sa-white;
    border-color: $sa-white;
  }
}

fieldset[disabled] .btn-aramco-white-outline {
  background-color: $sa-white;
  border-color: $sa-white;
}

.btn-aramco-white-outline {
  &.disabled:hover, &[disabled]:hover {
    background-color: $sa-white;
    border-color: $sa-white;
  }
}

fieldset[disabled] .btn-aramco-white-outline:hover {
  background-color: $sa-white;
  border-color: $sa-white;
}

.btn-aramco-white-outline {
  &.disabled:focus, &[disabled]:focus {
    background-color: $sa-white;
    border-color: $sa-white;
  }
}

fieldset[disabled] .btn-aramco-white-outline:focus {
  background-color: $sa-white;
  border-color: $sa-white;
}

.btn-aramco-white-outline {
  &.disabled:active, &[disabled]:active {
    background-color: $sa-white;
    border-color: $sa-white;
  }
}

fieldset[disabled] .btn-aramco-white-outline:active {
  background-color: $sa-white;
  border-color: $sa-white;
}

.btn-aramco-white-outline {
  &.disabled.active, &[disabled].active {
    background-color: $sa-white;
    border-color: $sa-white;
  }
}

fieldset[disabled] .btn-aramco-white-outline.active {
  background-color: $sa-white;
  border-color: $sa-white;
}




.btn-aramco-gray-outline {
  color: $sa-dark-gray;
  background-color: transparent;
  border-color: $sa-dark-gray;
  border-radius: 0px !important;
  border-width: 2px;
  &:hover, &:focus, &:active, &.active {
    color: $sa-white;
    background-color: $sa-dark-gray;
    border-color: $sa-dark-gray;
  }
}

.open .dropdown-toggle.btn-aramco-white-outline {
  color: $sa-white;
  background-color: $sa-dark-gray;
  border-color: $sa-dark-gray;
}












.btn-aramco-dark-gray {
  color: #FFFFFF;
  background-color: $sa-dark-gray;
  border-color: $sa-dark-gray;
  border-radius: 0px !important;
  &:hover, &:focus, &:active, &.active {
    color: #FFFFFF;
    background-color: $sa-dark-gray;
    border-color: $sa-dark-gray;
  }
}

.open .dropdown-toggle.btn-aramco-dark-gray {
  color: #FFFFFF;
  background-color: lighten($sa-dark-gray, 13.5%);
  border-color: lighten($sa-dark-gray, 13.5%);
}

.btn-aramco-dark-gray {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-aramco-dark-gray {
  background-image: none;
}

.btn-aramco-dark-gray {
  &.disabled, &[disabled] {
    background-color: $sa-dark-gray;
    border-color: $sa-dark-gray;
  }
}

fieldset[disabled] .btn-aramco-dark-gray {
  background-color: $sa-dark-gray;
  border-color: $sa-dark-gray;
}

.btn-aramco-dark-gray {
  &.disabled:hover, &[disabled]:hover {
    background-color: $sa-dark-gray;
    border-color: $sa-dark-gray;
  }
}

fieldset[disabled] .btn-aramco-dark-gray:hover {
  background-color: $sa-dark-gray;
  border-color: $sa-dark-gray;
}

.btn-aramco-dark-gray {
  &.disabled:focus, &[disabled]:focus {
    background-color: $sa-dark-gray;
    border-color: $sa-dark-gray;
  }
}

fieldset[disabled] .btn-aramco-dark-gray:focus {
  background-color: $sa-dark-gray;
  border-color: $sa-dark-gray;
}

.btn-aramco-dark-gray {
  &.disabled:active, &[disabled]:active {
    background-color: $sa-dark-gray;
    border-color: $sa-dark-gray;
  }
}

fieldset[disabled] .btn-aramco-dark-gray:active {
  background-color: $sa-dark-gray;
  border-color: $sa-dark-gray;
}

.btn-aramco-dark-gray {
  &.disabled.active, &[disabled].active {
    background-color: $sa-dark-gray;
    border-color: $sa-dark-gray;
  }
}

fieldset[disabled] .btn-aramco-dark-gray.active {
  background-color: $sa-dark-gray;
  border-color: $sa-dark-gray;
}

.btn-aramco-dark-gray .badge {
  color: $sa-dark-gray;
  background-color: #FFFFFF;
}





.btn-aramco-dark-gray-outline {
  color: $sa-dark-gray;
  background-color: transparent;
  border-color: $sa-dark-gray;
  border-radius: 0px !important;
  border-width: 2px;
  &:hover, &:focus, &:active, &.active {
    color: $sa-white;
    background-color: $sa-dark-gray;
    border-color: $sa-dark-gray;
  }
}

.open .dropdown-toggle.btn-aramco-dark-gray-outline {
  color: $sa-dark-gray;
  background-color: $sa-dark-gray;
  border-color: $sa-dark-gray;
}

.btn-aramco-dark-gray-outline {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-aramco-dark-gray-outline {
  background-image: none;
}

.btn-aramco-dark-gray-outline {
  &.disabled, &[disabled] {
    background-color: $sa-white;
    border-color: $sa-dark-gray;
  }
}

fieldset[disabled] .btn-aramco-dark-gray-outline {
  background-color: $sa-white;
  border-color: $sa-dark-gray;
}

.btn-aramco-dark-gray-outline {
  &.disabled:hover, &[disabled]:hover {
    background-color: $sa-white;
    border-color: $sa-dark-gray;
  }
}

fieldset[disabled] .btn-aramco-dark-gray-outline:hover {
  background-color: $sa-white;
  border-color: $sa-dark-gray;
}

.btn-aramco-dark-gray-outline {
  &.disabled:focus, &[disabled]:focus {
    background-color: $sa-white;
    border-color: $sa-dark-gray;
  }
}

fieldset[disabled] .btn-aramco-dark-gray-outline:focus {
  background-color: $sa-white;
  border-color: $sa-dark-gray;
}

.btn-aramco-dark-gray-outline {
  &.disabled:active, &[disabled]:active {
    background-color: $sa-white;
    border-color: $sa-dark-gray;
  }
}

fieldset[disabled] .btn-aramco-dark-gray-outline:active {
  background-color: $sa-white;
  border-color: $sa-dark-gray;
}

.btn-aramco-dark-gray-outline {
  &.disabled.active, &[disabled].active {
    background-color: $sa-white;
    border-color: $sa-dark-gray;
  }
}

fieldset[disabled] .btn-aramco-dark-gray-outline.active {
  background-color: $sa-white;
  border-color: $sa-dark-gray;
}







.btn-aramco-red {
  color: #FFFFFF;
  background-color: $sa-red;
  border-color: $sa-red;
  border-radius: 0px !important;
  &:hover, &:focus, &:active, &.active {
    color: #FFFFFF;
    background-color: lighten($sa-red, 13.5%);
    border-color: lighten($sa-red, 13.5%);
  }
}

.open .dropdown-toggle.btn-aramco-red {
  color: #FFFFFF;
  background-color: $sa-red;
  border-color: $sa-red;
}

.btn-aramco-red {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-aramco-red {
  background-image: none;
}

.btn-aramco-red {
  &.disabled, &[disabled] {
    background-color: $sa-red;
    border-color: $sa-red;
  }
}

fieldset[disabled] .btn-aramco-red {
  background-color: $sa-red;
  border-color: $sa-red;
}

.btn-aramco-red {
  &.disabled:hover, &[disabled]:hover {
    background-color: $sa-red;
    border-color: $sa-red;
  }
}

fieldset[disabled] .btn-aramco-red:hover {
  background-color: $sa-red;
  border-color: $sa-red;
}

.btn-aramco-red {
  &.disabled:focus, &[disabled]:focus {
    background-color: $sa-red;
    border-color: $sa-red;
  }
}

fieldset[disabled] .btn-aramco-red:focus {
  background-color: $sa-red;
  border-color: $sa-red;
}

.btn-aramco-red {
  &.disabled:active, &[disabled]:active {
    background-color: $sa-red;
    border-color: $sa-red;
  }
}

fieldset[disabled] .btn-aramco-red:active {
  background-color: $sa-red;
  border-color: $sa-red;
}

.btn-aramco-red {
  &.disabled.active, &[disabled].active {
    background-color: $sa-red;
    border-color: $sa-red;
  }
}

fieldset[disabled] .btn-aramco-red.active {
  background-color: $sa-red;
  border-color: $sa-red;
}

.btn-aramco-red .badge {
  color: $sa-red;
  background-color: #FFFFFF;
}





.btn-aramco-red-outline {
  color: $sa-red;
  background-color: transparent;
  border-color: $sa-red;
  border-radius: 0px !important;
  border-width: 2px;
  &:hover, &:focus, &:active, &.active {
    color: $sa-white;
    background-color: $sa-red;
    border-color: $sa-red;
  }
}

.open .dropdown-toggle.btn-aramco-red-outline {
  color: $sa-white;
  background-color: $sa-red;
  border-color: $sa-red;
}

.btn-aramco-red-outline {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-aramco-red-outline {
  background-image: none;
}

.btn-aramco-red-outline {
  &.disabled, &[disabled] {
    background-color: $sa-white;
    border-color: $sa-red;
  }
}

fieldset[disabled] .btn-aramco-red-outline {
  background-color: $sa-white;
  border-color: $sa-red;
}

.btn-aramco-red-outline {
  &.disabled:hover, &[disabled]:hover {
    background-color: $sa-white;
    border-color: $sa-red;
  }
}

fieldset[disabled] .btn-aramco-red-outline:hover {
  background-color: $sa-white;
  border-color: $sa-red;
}

.btn-aramco-red-outline {
  &.disabled:focus, &[disabled]:focus {
    background-color: $sa-white;
    border-color: $sa-red;
  }
}

fieldset[disabled] .btn-aramco-red-outline:focus {
  background-color: $sa-white;
  border-color: $sa-red;
}

.btn-aramco-red-outline {
  &.disabled:active, &[disabled]:active {
    background-color: $sa-white;
    border-color: $sa-red;
  }
}

fieldset[disabled] .btn-aramco-red-outline:active {
  background-color: $sa-white;
  border-color: $sa-red;
}

.btn-aramco-red-outline {
  &.disabled.active, &[disabled].active {
    background-color: $sa-white;
    border-color: $sa-red;
  }
}

fieldset[disabled] .btn-aramco-red-outline.active {
  background-color: $sa-white;
  border-color: $sa-red;
}

.btn-aramco-red-outline .badge {
  color: $sa-white;
  background-color: $sa-red;
}





.btn-aramco-orange {
  color: #FFFFFF;
  background-color: $sa-orange;
  border-color: $sa-orange;
  border-radius: 0px !important;
  &:hover, &:focus, &:active, &.active {
    color: #FFFFFF;
    background-color: lighten($sa-orange, 13.5%);
    border-color: lighten($sa-orange, 13.5%);
  }
}

.open .dropdown-toggle.btn-aramco-orange {
  color: #FFFFFF;
  background-color: $sa-orange;
  border-color: $sa-orange;
}

.btn-aramco-orange {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-aramco-orange {
  background-image: none;
}

.btn-aramco-orange {
  &.disabled, &[disabled] {
    background-color: $sa-orange;
    border-color: $sa-orange;
  }
}

fieldset[disabled] .btn-aramco-orange {
  background-color: $sa-orange;
  border-color: $sa-orange;
}

.btn-aramco-orange {
  &.disabled:hover, &[disabled]:hover {
    background-color: $sa-orange;
    border-color: $sa-orange;
  }
}

fieldset[disabled] .btn-aramco-orange:hover {
  background-color: $sa-orange;
  border-color: $sa-orange;
}

.btn-aramco-orange {
  &.disabled:focus, &[disabled]:focus {
    background-color: $sa-orange;
    border-color: $sa-orange;
  }
}

fieldset[disabled] .btn-aramco-orange:focus {
  background-color: $sa-orange;
  border-color: $sa-orange;
}

.btn-aramco-orange {
  &.disabled:active, &[disabled]:active {
    background-color: $sa-orange;
    border-color: $sa-orange;
  }
}

fieldset[disabled] .btn-aramco-orange:active {
  background-color: $sa-orange;
  border-color: $sa-orange;
}

.btn-aramco-orange {
  &.disabled.active, &[disabled].active {
    background-color: $sa-orange;
    border-color: $sa-orange;
  }
}

fieldset[disabled] .btn-aramco-orange.active {
  background-color: $sa-orange;
  border-color: $sa-orange;
}

.btn-aramco-orange .badge {
  color: $sa-orange;
  background-color: #FFFFFF;
}



.btn-aramco-orange-outline {
  color: $sa-orange;
  background-color: transparent;
  border-color: $sa-orange;
  border-radius: 0px !important;
  border-width: 2px;
  &:hover, &:focus, &:active, &.active {
    color: $sa-white;
    background-color: $sa-orange;
    border-color: $sa-orange;
  }
}

.open .dropdown-toggle.btn-aramco-orange-outline {
  color: $sa-orange;
  background-color: $sa-orange;
  border-color: $sa-orange;
}

.btn-aramco-orange-outline {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-aramco-orange-outline {
  background-image: none;
}

.btn-aramco-orange-outline {
  &.disabled, &[disabled] {
    background-color: #000000;
    border-color: $sa-orange;
  }
}

fieldset[disabled] .btn-aramco-orange-outline {
  background-color: #000000;
  border-color: $sa-orange;
}

.btn-aramco-orange-outline {
  &.disabled:hover, &[disabled]:hover {
    background-color: #000000;
    border-color: $sa-orange;
  }
}

fieldset[disabled] .btn-aramco-orange-outline:hover {
  background-color: #000000;
  border-color: $sa-orange;
}

.btn-aramco-orange-outline {
  &.disabled:focus, &[disabled]:focus {
    background-color: #000000;
    border-color: $sa-orange;
  }
}

fieldset[disabled] .btn-aramco-orange-outline:focus {
  background-color: #000000;
  border-color: $sa-orange;
}

.btn-aramco-orange-outline {
  &.disabled:active, &[disabled]:active {
    background-color: #000000;
    border-color: $sa-orange;
  }
}

fieldset[disabled] .btn-aramco-orange-outline:active {
  background-color: #000000;
  border-color: $sa-orange;
}

.btn-aramco-orange-outline {
  &.disabled.active, &[disabled].active {
    background-color: #000000;
    border-color: $sa-orange;
  }
}

fieldset[disabled] .btn-aramco-orange-outline.active {
  background-color: #000000;
  border-color: $sa-orange;
}

.btn-aramco-orange-outline .badge {
  color: #000000;
  background-color: $sa-orange;
}



.btn-aramco-light-orange {
  color: #FFFFFF;
  background-color: $sa-light-orange;
  border-color: $sa-light-orange;
  border-radius: 0px !important;
  &:hover, &:focus, &:active, &.active {
    color: #FFFFFF;
    background-color: lighten($sa-light-orange, 13.5%);
    border-color: lighten($sa-light-orange, 13.5%);
  }
}

.open .dropdown-toggle.btn-aramco-light-orange {
  color: #FFFFFF;
  background-color: $sa-light-orange;
  border-color: $sa-light-orange;
}

.btn-aramco-light-orange {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-aramco-light-orange {
  background-image: none;
}

.btn-aramco-light-orange {
  &.disabled, &[disabled] {
    background-color: $sa-light-orange;
    border-color: $sa-light-orange;
  }
}

fieldset[disabled] .btn-aramco-light-orange {
  background-color: $sa-light-orange;
  border-color: $sa-light-orange;
}

.btn-aramco-light-orange {
  &.disabled:hover, &[disabled]:hover {
    background-color: $sa-light-orange;
    border-color: $sa-light-orange;
  }
}

fieldset[disabled] .btn-aramco-light-orange:hover {
  background-color: $sa-light-orange;
  border-color: $sa-light-orange;
}

.btn-aramco-light-orange {
  &.disabled:focus, &[disabled]:focus {
    background-color: $sa-light-orange;
    border-color: $sa-light-orange;
  }
}

fieldset[disabled] .btn-aramco-light-orange:focus {
  background-color: $sa-light-orange;
  border-color: $sa-light-orange;
}

.btn-aramco-light-orange {
  &.disabled:active, &[disabled]:active {
    background-color: $sa-light-orange;
    border-color: $sa-light-orange;
  }
}

fieldset[disabled] .btn-aramco-light-orange:active {
  background-color: $sa-light-orange;
  border-color: $sa-light-orange;
}

.btn-aramco-light-orange {
  &.disabled.active, &[disabled].active {
    background-color: $sa-light-orange;
    border-color: $sa-light-orange;
  }
}

fieldset[disabled] .btn-aramco-light-orange.active {
  background-color: $sa-light-orange;
  border-color: $sa-light-orange;
}

.btn-aramco-light-orange .badge {
  color: $sa-light-orange;
  background-color: #FFFFFF;
}




.btn-aramco-yellow {
  color: #FFFFFF;
  background-color: $sa-yellow;
  border-color: $sa-yellow;
  border-radius: 0px !important;
  &:hover, &:focus, &:active, &.active {
    color: #FFFFFF;
    background-color: lighten($sa-yellow, 13.5%);
    border-color: lighten($sa-yellow, 13.5%);
  }
}

.open .dropdown-toggle.btn-aramco-yellow {
  color: #FFFFFF;
  background-color: $sa-yellow;
  border-color: $sa-yellow;
}

.btn-aramco-yellow {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-aramco-yellow {
  background-image: none;
}

.btn-aramco-yellow {
  &.disabled, &[disabled] {
    background-color: $sa-yellow;
    border-color: $sa-yellow;
  }
}

fieldset[disabled] .btn-aramco-yellow {
  background-color: $sa-yellow;
  border-color: $sa-yellow;
}

.btn-aramco-yellow {
  &.disabled:hover, &[disabled]:hover {
    background-color: $sa-yellow;
    border-color: $sa-yellow;
  }
}

fieldset[disabled] .btn-aramco-yellow:hover {
  background-color: $sa-yellow;
  border-color: $sa-yellow;
}

.btn-aramco-yellow {
  &.disabled:focus, &[disabled]:focus {
    background-color: $sa-yellow;
    border-color: $sa-yellow;
  }
}

fieldset[disabled] .btn-aramco-yellow:focus {
  background-color: $sa-yellow;
  border-color: $sa-yellow;
}

.btn-aramco-yellow {
  &.disabled:active, &[disabled]:active {
    background-color: $sa-yellow;
    border-color: $sa-yellow;
  }
}

fieldset[disabled] .btn-aramco-yellow:active {
  background-color: $sa-yellow;
  border-color: $sa-yellow;
}

.btn-aramco-yellow {
  &.disabled.active, &[disabled].active {
    background-color: $sa-yellow;
    border-color: $sa-yellow;
  }
}

fieldset[disabled] .btn-aramco-yellow.active {
  background-color: $sa-yellow;
  border-color: $sa-yellow;
}

.btn-aramco-yellow .badge {
  color: $sa-yellow;
  background-color: #FFFFFF;
}




.btn-aramco-light-green {
  color: #FFFFFF;
  background-color: $sa-light-green;
  border-color: $sa-light-green;
  border-radius: 0px !important;
  &:hover, &:focus, &:active, &.active {
    color: #FFFFFF;
    background-color: lighten($sa-light-green, 3.5%);
    border-color: lighten($sa-light-green, 3.5%);
  }
}

.open .dropdown-toggle.btn-aramco-light-green {
  color: #FFFFFF;
  background-color: $sa-light-green;
  border-color: $sa-light-green;
}

.btn-aramco-light-green {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-aramco-light-green {
  background-image: none;
}

.btn-aramco-light-green {
  &.disabled, &[disabled] {
    background-color: $sa-light-green;
    border-color: $sa-light-green;
  }
}

fieldset[disabled] .btn-aramco-light-green {
  background-color: $sa-light-green;
  border-color: $sa-light-green;
}

.btn-aramco-light-green {
  &.disabled:hover, &[disabled]:hover {
    background-color: $sa-light-green;
    border-color: $sa-light-green;
  }
}

fieldset[disabled] .btn-aramco-light-green:hover {
  background-color: $sa-light-green;
  border-color: $sa-light-green;
}

.btn-aramco-light-green {
  &.disabled:focus, &[disabled]:focus {
    background-color: $sa-light-green;
    border-color: $sa-light-green;
  }
}

fieldset[disabled] .btn-aramco-light-green:focus {
  background-color: $sa-light-green;
  border-color: $sa-light-green;
}

.btn-aramco-light-green {
  &.disabled:active, &[disabled]:active {
    background-color: $sa-light-green;
    border-color: $sa-light-green;
  }
}

fieldset[disabled] .btn-aramco-light-green:active {
  background-color: $sa-light-green;
  border-color: $sa-light-green;
}

.btn-aramco-light-green {
  &.disabled.active, &[disabled].active {
    background-color: $sa-light-green;
    border-color: $sa-light-green;
  }
}

fieldset[disabled] .btn-aramco-light-green.active {
  background-color: $sa-light-green;
  border-color: $sa-light-green;
}

.btn-aramco-light-green .badge {
  color: $sa-light-green;
  background-color: #FFFFFF;
}






.btn-aramco-dark-green {
  color: #FFFFFF;
  background-color: $sa-dark-green;
  border-color: $sa-dark-green;
  border-radius: 0px !important;
  &:hover, &:focus, &:active, &.active {
    color: #FFFFFF;
    background-color: lighten($sa-dark-green, 13.5%);
    border-color: lighten($sa-dark-green, 13.5%);
  }
}

.open .dropdown-toggle.btn-aramco-dark-green {
  color: #FFFFFF;
  background-color: $sa-dark-green;
  border-color: $sa-dark-green;
}

.btn-aramco-dark-green {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-aramco-dark-green {
  background-image: none;
}

.btn-aramco-dark-green {
  &.disabled, &[disabled] {
    background-color: $sa-dark-green;
    border-color: $sa-dark-green;
  }
}

fieldset[disabled] .btn-aramco-dark-green {
  background-color: $sa-dark-green;
  border-color: $sa-dark-green;
}

.btn-aramco-dark-green {
  &.disabled:hover, &[disabled]:hover {
    background-color: $sa-dark-green;
    border-color: $sa-dark-green;
  }
}

fieldset[disabled] .btn-aramco-dark-green:hover {
  background-color: $sa-dark-green;
  border-color: $sa-dark-green;
}

.btn-aramco-dark-green {
  &.disabled:focus, &[disabled]:focus {
    background-color: $sa-dark-green;
    border-color: $sa-dark-green;
  }
}

fieldset[disabled] .btn-aramco-dark-green:focus {
  background-color: $sa-dark-green;
  border-color: $sa-dark-green;
}

.btn-aramco-dark-green {
  &.disabled:active, &[disabled]:active {
    background-color: $sa-dark-green;
    border-color: $sa-dark-green;
  }
}

fieldset[disabled] .btn-aramco-dark-green:active {
  background-color: $sa-dark-green;
  border-color: $sa-dark-green;
}

.btn-aramco-dark-green {
  &.disabled.active, &[disabled].active {
    background-color: $sa-dark-green;
    border-color: $sa-dark-green;
  }
}

fieldset[disabled] .btn-aramco-dark-green.active {
  background-color: $sa-dark-green;
  border-color: $sa-dark-green;
}

.btn-aramco-dark-green .badge {
  color: $sa-dark-green;
  background-color: #FFFFFF;
}






.btn-aramco-turquoise {
  color: #FFFFFF;
  background-color: $sa-turquoise;
  border-color: $sa-turquoise;
  border-radius: 0px !important;
  &:hover, &:focus, &:active, &.active {
    color: #FFFFFF;
    background-color: lighten($sa-turquoise, 13.5%);
    border-color: lighten($sa-turquoise, 13.5%);
  }
}

.open .dropdown-toggle.btn-aramco-turquoise {
  color: #FFFFFF;
  background-color: $sa-turquoise;
  border-color: $sa-turquoise;
}

.btn-aramco-turquoise {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-aramco-turquoise {
  background-image: none;
}

.btn-aramco-turquoise {
  &.disabled, &[disabled] {
    background-color: $sa-turquoise;
    border-color: $sa-turquoise;
  }
}

fieldset[disabled] .btn-aramco-turquoise {
  background-color: $sa-turquoise;
  border-color: $sa-turquoise;
}

.btn-aramco-turquoise {
  &.disabled:hover, &[disabled]:hover {
    background-color: $sa-turquoise;
    border-color: $sa-turquoise;
  }
}

fieldset[disabled] .btn-aramco-turquoise:hover {
  background-color: $sa-turquoise;
  border-color: $sa-turquoise;
}

.btn-aramco-turquoise {
  &.disabled:focus, &[disabled]:focus {
    background-color: $sa-turquoise;
    border-color: $sa-turquoise;
  }
}

fieldset[disabled] .btn-aramco-turquoise:focus {
  background-color: $sa-turquoise;
  border-color: $sa-turquoise;
}

.btn-aramco-turquoise {
  &.disabled:active, &[disabled]:active {
    background-color: $sa-turquoise;
    border-color: $sa-turquoise;
  }
}

fieldset[disabled] .btn-aramco-turquoise:active {
  background-color: $sa-turquoise;
  border-color: $sa-turquoise;
}

.btn-aramco-turquoise {
  &.disabled.active, &[disabled].active {
    background-color: $sa-turquoise;
    border-color: $sa-turquoise;
  }
}

fieldset[disabled] .btn-aramco-turquoise.active {
  background-color: $sa-turquoise;
  border-color: $sa-turquoise;
}

.btn-aramco-turquoise .badge {
  color: $sa-turquoise;
  background-color: #FFFFFF;
}








.btn-aramco-light-blue {
  color: #ffffff;
  background-color: $sa-light-blue;
  border-color: $sa-light-blue;
  border-radius: 0px !important;
  &:hover, &:focus, &:active, &.active {
    color: #ffffff;
    background-color: lighten($sa-light-blue, 13.5%);
    border-color: lighten($sa-light-blue, 13.5%);
  }
}

.open .dropdown-toggle.btn-aramco-light-blue {
  color: #ffffff;
  background-color: $sa-light-blue;
  border-color: $sa-light-blue;
}

.btn-aramco-light-blue {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-aramco-light-blue {
  background-image: none;
}

.btn-aramco-light-blue {
  &.disabled, &[disabled] {
    background-color: $sa-light-blue;
    border-color: $sa-light-blue;
  }
}

fieldset[disabled] .btn-aramco-light-blue {
  background-color: $sa-light-blue;
  border-color: $sa-light-blue;
}

.btn-aramco-light-blue {
  &.disabled:hover, &[disabled]:hover {
    background-color: $sa-light-blue;
    border-color: $sa-light-blue;
  }
}

fieldset[disabled] .btn-aramco-light-blue:hover {
  background-color: $sa-light-blue;
  border-color: $sa-light-blue;
}

.btn-aramco-light-blue {
  &.disabled:focus, &[disabled]:focus {
    background-color: $sa-light-blue;
    border-color: $sa-light-blue;
  }
}

fieldset[disabled] .btn-aramco-light-blue:focus {
  background-color: $sa-light-blue;
  border-color: $sa-light-blue;
}

.btn-aramco-light-blue {
  &.disabled:active, &[disabled]:active {
    background-color: $sa-light-blue;
    border-color: $sa-light-blue;
  }
}

fieldset[disabled] .btn-aramco-light-blue:active {
  background-color: $sa-light-blue;
  border-color: $sa-light-blue;
}

.btn-aramco-light-blue {
  &.disabled.active, &[disabled].active {
    background-color: $sa-light-blue;
    border-color: $sa-light-blue;
  }
}

fieldset[disabled] .btn-aramco-light-blue.active {
  background-color: $sa-light-blue;
  border-color: $sa-light-blue;
}

.btn-aramco-light-blue .badge {
  color: $sa-light-blue;
  background-color: #ffffff;
}




.btn-aramco-light-blue-outline {
  color: $sa-light-blue;
  background-color: transparent;
  border-color: $sa-light-blue;
  border-radius: 0px !important;
  border-width: 2px;
  &:hover, &:focus, &:active, &.active {
    color: $sa-white;
    background-color: $sa-light-blue;
    border-color: $sa-light-blue;
  }
}

.open .dropdown-toggle.btn-aramco-light-blue-outline {
  color: $sa-light-blue;
  background-color: $sa-light-blue;
  border-color: $sa-light-blue;
}

.btn-aramco-light-blue-outline {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-aramco-light-blue-outline {
  background-image: none;
}

.btn-aramco-light-blue-outline {
  &.disabled, &[disabled] {
    background-color: #000000;
    border-color: $sa-light-blue;
  }
}

fieldset[disabled] .btn-aramco-light-blue-outline {
  background-color: #000000;
  border-color: $sa-light-blue;
}

.btn-aramco-light-blue-outline {
  &.disabled:hover, &[disabled]:hover {
    background-color: #000000;
    border-color: $sa-light-blue;
  }
}

fieldset[disabled] .btn-aramco-light-blue-outline:hover {
  background-color: #000000;
  border-color: $sa-light-blue;
}

.btn-aramco-light-blue-outline {
  &.disabled:focus, &[disabled]:focus {
    background-color: #000000;
    border-color: $sa-light-blue;
  }
}

fieldset[disabled] .btn-aramco-light-blue-outline:focus {
  background-color: #000000;
  border-color: $sa-light-blue;
}

.btn-aramco-light-blue-outline {
  &.disabled:active, &[disabled]:active {
    background-color: #000000;
    border-color: $sa-light-blue;
  }
}

fieldset[disabled] .btn-aramco-light-blue-outline:active {
  background-color: #000000;
  border-color: $sa-light-blue;
}

.btn-aramco-light-blue-outline {
  &.disabled.active, &[disabled].active {
    background-color: #000000;
    border-color: $sa-light-blue;
  }
}

fieldset[disabled] .btn-aramco-light-blue-outline.active {
  background-color: #000000;
  border-color: $sa-light-blue;
}

.btn-aramco-light-blue-outline .badge {
  color: #000000;
  background-color: $sa-light-blue;
}




.btn-aramco-dark-blue {
  color: #FFFFFF;
  background-color: $sa-dark-blue;
  border-color: $sa-dark-blue;
  border-radius: 0px !important;
  &:hover, &:focus, &:active, &.active {
    color: #FFFFFF;
    background-color: lighten($sa-dark-blue, 13.5%);
    border-color: lighten($sa-dark-blue, 13.5%);
  }
}

.open .dropdown-toggle.btn-aramco-dark-blue {
  color: #FFFFFF;
  background-color: $sa-dark-blue;
  border-color: $sa-dark-blue;
}

.btn-aramco-dark-blue {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-aramco-dark-blue {
  background-image: none;
}

.btn-aramco-dark-blue {
  &.disabled, &[disabled] {
    background-color: $sa-dark-blue;
    border-color: $sa-dark-blue;
  }
}

fieldset[disabled] .btn-aramco-dark-blue {
  background-color: $sa-dark-blue;
  border-color: $sa-dark-blue;
}

.btn-aramco-dark-blue {
  &.disabled:hover, &[disabled]:hover {
    background-color: $sa-dark-blue;
    border-color: $sa-dark-blue;
  }
}

fieldset[disabled] .btn-aramco-dark-blue:hover {
  background-color: $sa-dark-blue;
  border-color: $sa-dark-blue;
}

.btn-aramco-dark-blue {
  &.disabled:focus, &[disabled]:focus {
    background-color: $sa-dark-blue;
    border-color: $sa-dark-blue;
  }
}

fieldset[disabled] .btn-aramco-dark-blue:focus {
  background-color: $sa-dark-blue;
  border-color: $sa-dark-blue;
}

.btn-aramco-dark-blue {
  &.disabled:active, &[disabled]:active {
    background-color: $sa-dark-blue;
    border-color: $sa-dark-blue;
  }
}

fieldset[disabled] .btn-aramco-dark-blue:active {
  background-color: $sa-dark-blue;
  border-color: $sa-dark-blue;
}

.btn-aramco-dark-blue {
  &.disabled.active, &[disabled].active {
    background-color: $sa-dark-blue;
    border-color: $sa-dark-blue;
  }
}

fieldset[disabled] .btn-aramco-dark-blue.active {
  background-color: $sa-dark-blue;
  border-color: $sa-dark-blue;
}

.btn-aramco-dark-blue .badge {
  color: $sa-dark-blue;
  background-color: #FFFFFF;
}







.btn-aramco-purple {
  color: #FFFFFF;
  background-color: $sa-purple;
  border-color: $sa-purple;
  border-radius: 0px !important;
  &:hover, &:focus, &:active, &.active {
    color: #FFFFFF;
    background-color: lighten($sa-purple, 13.5%);
    border-color: lighten($sa-purple, 13.5%);
  }
}

.open .dropdown-toggle.btn-aramco-purple {
  color: #FFFFFF;
  background-color: $sa-purple;
  border-color: $sa-purple;
}

.btn-aramco-purple {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-aramco-purple {
  background-image: none;
}

.btn-aramco-purple {
  &.disabled, &[disabled] {
    background-color: $sa-purple;
    border-color: $sa-purple;
  }
}

fieldset[disabled] .btn-aramco-purple {
  background-color: $sa-purple;
  border-color: $sa-purple;
}

.btn-aramco-purple {
  &.disabled:hover, &[disabled]:hover {
    background-color: $sa-purple;
    border-color: $sa-purple;
  }
}

fieldset[disabled] .btn-aramco-purple:hover {
  background-color: $sa-purple;
  border-color: $sa-purple;
}

.btn-aramco-purple {
  &.disabled:focus, &[disabled]:focus {
    background-color: $sa-purple;
    border-color: $sa-purple;
  }
}

fieldset[disabled] .btn-aramco-purple:focus {
  background-color: $sa-purple;
  border-color: $sa-purple;
}

.btn-aramco-purple {
  &.disabled:active, &[disabled]:active {
    background-color: $sa-purple;
    border-color: $sa-purple;
  }
}

fieldset[disabled] .btn-aramco-purple:active {
  background-color: $sa-purple;
  border-color: $sa-purple;
}

.btn-aramco-purple {
  &.disabled.active, &[disabled].active {
    background-color: $sa-purple;
    border-color: $sa-purple;
  }
}

fieldset[disabled] .btn-aramco-purple.active {
  background-color: $sa-purple;
  border-color: $sa-purple;
}

.btn-aramco-purple .badge {
  color: $sa-purple;
  background-color: #FFFFFF;
}




.btn-aramco-purple-outline {
  color: $sa-purple;
  background-color: transparent;
  border-color: $sa-purple;
  border-radius: 0px !important;
  border-width: 2px;
  &:hover, &:focus, &:active, &.active {
    color: $sa-white;
    background-color: $sa-purple;
    border-color: $sa-purple;
  }
}

.open .dropdown-toggle.btn-aramco-purple-outline {
  color: $sa-purple;
  background-color: $sa-purple;
  border-color: $sa-purple;
}

.btn-aramco-purple-outline {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-aramco-purple-outline {
  background-image: none;
}

.btn-aramco-purple-outline {
  &.disabled, &[disabled] {
    background-color: #000000;
    border-color: $sa-purple;
  }
}

fieldset[disabled] .btn-aramco-purple-outline {
  background-color: #000000;
  border-color: $sa-purple;
}

.btn-aramco-purple-outline {
  &.disabled:hover, &[disabled]:hover {
    background-color: #000000;
    border-color: $sa-purple;
  }
}

fieldset[disabled] .btn-aramco-purple-outline:hover {
  background-color: #000000;
  border-color: $sa-purple;
}

.btn-aramco-purple-outline {
  &.disabled:focus, &[disabled]:focus {
    background-color: #000000;
    border-color: $sa-purple;
  }
}

fieldset[disabled] .btn-aramco-purple-outline:focus {
  background-color: #000000;
  border-color: $sa-purple;
}

.btn-aramco-purple-outline {
  &.disabled:active, &[disabled]:active {
    background-color: #000000;
    border-color: $sa-purple;
  }
}

fieldset[disabled] .btn-aramco-purple-outline:active {
  background-color: #000000;
  border-color: $sa-purple;
}

.btn-aramco-purple-outline {
  &.disabled.active, &[disabled].active {
    background-color: #000000;
    border-color: $sa-purple;
  }
}

fieldset[disabled] .btn-aramco-purple-outline.active {
  background-color: #000000;
  border-color: $sa-purple;
}

.btn-aramco-purple-outline .badge {
  color: #000000;
  background-color: $sa-purple;
}




.btn-aramco-magenta {
  color: #FFFFFF;
  background-color: $sa-magenta;
  border-color: $sa-magenta;
  border-radius: 0px !important;
  &:hover, &:focus, &:active, &.active {
    color: #FFFFFF;
    background-color: lighten($sa-magenta, 13.5%);
    border-color: lighten($sa-magenta, 13.5%);
  }
}

.open .dropdown-toggle.btn-aramco-magenta {
  color: #FFFFFF;
  background-color: $sa-magenta;
  border-color: $sa-magenta;
}

.btn-aramco-magenta {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-aramco-magenta {
  background-image: none;
}

.btn-aramco-magenta {
  &.disabled, &[disabled] {
    background-color: $sa-magenta;
    border-color: $sa-magenta;
  }
}

fieldset[disabled] .btn-aramco-magenta {
  background-color: $sa-magenta;
  border-color: $sa-magenta;
}

.btn-aramco-magenta {
  &.disabled:hover, &[disabled]:hover {
    background-color: $sa-magenta;
    border-color: $sa-magenta;
  }
}

fieldset[disabled] .btn-aramco-magenta:hover {
  background-color: $sa-magenta;
  border-color: $sa-magenta;
}

.btn-aramco-magenta {
  &.disabled:focus, &[disabled]:focus {
    background-color: $sa-magenta;
    border-color: $sa-magenta;
  }
}

fieldset[disabled] .btn-aramco-magenta:focus {
  background-color: $sa-magenta;
  border-color: $sa-magenta;
}

.btn-aramco-magenta {
  &.disabled:active, &[disabled]:active {
    background-color: $sa-magenta;
    border-color: $sa-magenta;
  }
}

fieldset[disabled] .btn-aramco-magenta:active {
  background-color: $sa-magenta;
  border-color: $sa-magenta;
}

.btn-aramco-magenta {
  &.disabled.active, &[disabled].active {
    background-color: $sa-magenta;
    border-color: $sa-magenta;
  }
}

fieldset[disabled] .btn-aramco-magenta.active {
  background-color: $sa-magenta;
  border-color: $sa-magenta;
}

.btn-aramco-magenta .badge {
  color: $sa-magenta;
  background-color: #FFFFFF;
}






.btn-aramco-50-gray {
  color: #FFFFFF;
  background-color: $sa-50-gray;
  border-color: $sa-50-gray;
  border-radius: 0px !important;
  &:hover, &:focus, &:active, &.active {
    color: #FFFFFF;
    background-color: lighten($sa-50-gray, 13.5%);
    border-color: lighten($sa-50-gray, 13.5%);
  }
}

.open .dropdown-toggle.btn-aramco-50-gray {
  color: #FFFFFF;
  background-color: $sa-50-gray;
  border-color: $sa-50-gray;
}

.btn-aramco-50-gray {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-aramco-50-gray {
  background-image: none;
}

.btn-aramco-50-gray {
  &.disabled, &[disabled] {
    background-color: $sa-50-gray;
    border-color: $sa-50-gray;
  }
}

fieldset[disabled] .btn-aramco-50-gray {
  background-color: $sa-50-gray;
  border-color: $sa-50-gray;
}

.btn-aramco-50-gray {
  &.disabled:hover, &[disabled]:hover {
    background-color: $sa-50-gray;
    border-color: $sa-50-gray;
  }
}

fieldset[disabled] .btn-aramco-50-gray:hover {
  background-color: $sa-50-gray;
  border-color: $sa-50-gray;
}

.btn-aramco-50-gray {
  &.disabled:focus, &[disabled]:focus {
    background-color: $sa-50-gray;
    border-color: $sa-50-gray;
  }
}

fieldset[disabled] .btn-aramco-50-gray:focus {
  background-color: $sa-50-gray;
  border-color: $sa-50-gray;
}

.btn-aramco-50-gray {
  &.disabled:active, &[disabled]:active {
    background-color: $sa-50-gray;
    border-color: $sa-50-gray;
  }
}

fieldset[disabled] .btn-aramco-50-gray:active {
  background-color: $sa-50-gray;
  border-color: $sa-50-gray;
}

.btn-aramco-50-gray {
  &.disabled.active, &[disabled].active {
    background-color: $sa-50-gray;
    border-color: $sa-50-gray;
  }
}

fieldset[disabled] .btn-aramco-50-gray.active {
  background-color: $sa-50-gray;
  border-color: $sa-50-gray;
}

.btn-aramco-50-gray .badge {
  color: $sa-50-gray;
  background-color: #FFFFFF;
}





.btn-aramco-25-gray {
  color: #FFFFFF;
  background-color: $sa-25-gray;
  border-color: $sa-25-gray;
  border-radius: 0px !important;
  &:hover, &:focus, &:active, &.active {
    color: #FFFFFF;
    background-color: lighten($sa-25-gray, 13.5%);
    border-color: lighten($sa-25-gray, 13.5%);
  }
}

.open .dropdown-toggle.btn-aramco-25-gray {
  color: #FFFFFF;
  background-color: $sa-25-gray;
  border-color: $sa-25-gray;
}

.btn-aramco-25-gray {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-aramco-25-gray {
  background-image: none;
}

.btn-aramco-25-gray {
  &.disabled, &[disabled] {
    background-color: $sa-25-gray;
    border-color: $sa-25-gray;
  }
}

fieldset[disabled] .btn-aramco-25-gray {
  background-color: $sa-25-gray;
  border-color: $sa-25-gray;
}

.btn-aramco-25-gray {
  &.disabled:hover, &[disabled]:hover {
    background-color: $sa-25-gray;
    border-color: $sa-25-gray;
  }
}

fieldset[disabled] .btn-aramco-25-gray:hover {
  background-color: $sa-25-gray;
  border-color: $sa-25-gray;
}

.btn-aramco-25-gray {
  &.disabled:focus, &[disabled]:focus {
    background-color: $sa-25-gray;
    border-color: $sa-25-gray;
  }
}

fieldset[disabled] .btn-aramco-25-gray:focus {
  background-color: $sa-25-gray;
  border-color: $sa-25-gray;
}

.btn-aramco-25-gray {
  &.disabled:active, &[disabled]:active {
    background-color: $sa-25-gray;
    border-color: $sa-25-gray;
  }
}

fieldset[disabled] .btn-aramco-25-gray:active {
  background-color: $sa-25-gray;
  border-color: $sa-25-gray;
}

.btn-aramco-25-gray {
  &.disabled.active, &[disabled].active {
    background-color: $sa-25-gray;
    border-color: $sa-25-gray;
  }
}

fieldset[disabled] .btn-aramco-25-gray.active {
  background-color: $sa-25-gray;
  border-color: $sa-25-gray;
}

.btn-aramco-25-gray .badge {
  color: $sa-25-gray;
  background-color: #FFFFFF;
}


.btn-aramco-5-gray {
  color: $sa-dark-gray;
  background-color: $sa-5-gray;
  border-color: $sa-5-gray;
  border-radius: 0px !important;
  &:hover, &:focus, &:active, &.active {
    color: $sa-white;
    background-color: lighten($sa-50-gray, 13.5%);
    border-color: lighten($sa-50-gray, 13.5%);
  }
}
