/******************************************************************************
  Brand Navbar
*******************************************************************************/
.fixed {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.navbar-toggle {
  float: left;
}
.top_bar {
  height: 65px;
  background: $sa-white;
  border-bottom: 1px solid $sa-15-gray;
}
.top-padding {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.top_bar_padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.navbar-padding {
  padding-left: 118px !important;
  padding-right: 142px !important;
}

.border-top {
  border-top: 1px solid $sa-15-gray;
}

.no-gutter {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.logo {
  font-family: $manifaV2-Light-font-name;
  list-style-type: none;
  margin-bottom: 0px;
  float: left;
  padding: 0px;
  margin-left: -22px;
    a {
      font-size: $font-size-logo;
      line-height: 40px;
      color: $sa-dark-gray;
      padding-left: 5px;
      &:focus, &:hover {
        text-decoration: none !important;
      }
    }
}

.logo-scroll {
  font-family: $manifaV2-Light-font-name;
  list-style-type: none;
  margin-bottom: 0px;
  float: left;
  padding-right: 50px;
  padding-top: 5px;
  display: none !important;
    a {
      font-size: 35px !important;
      line-height: 40px;
      color: $sa-dark-gray;
      &:focus, &:hover {
        text-decoration: none !important;
      }
    }
}
.contact-header {
  cursor: pointer;
  padding-top: 25px;
  padding-bottom: 20px;
  margin-right: 10px !important;
}
.contact-bar {
  display: none !important;
  margin-left: -12px;
  border-top: $sa-15-gray 1px solid;
}
.contact-scroll {
  //display: none !important;
}

.profile-scroll {
  display: none !important;
}

.user-profile {
  text-decoration: none !important;
}

.profile-icon {
  font-size: 28px;
}

.profile-badge {
  position: absolute;
  top: 16px;
  margin-left: -10px;
}

.profile-title {
  position: absolute;
  top: -7px;
  line-height: 24px;
  font-size: 10px;
  font-weight: $font-weight-bold;
  padding-left: 17px;
}

.profile-name {
  font-size: 16px;
  padding-left: 17px;
}

.hide {
  display: none !important;
}
.unhide {
  display: block !important;
}

.nav-item-one {
  padding-top: 6px !important;
  margin-top: 30px;
}

.nav-item-last {
  margin-bottom: 30px;
}

.nav-parent-item-width-home {
  width: 125px;
}

.nav-parent-item-width-performance {
  width: 167px;
}

.nav-parent-item-width-development {
  width: 172px;
}

.nav-parent-item-width-opportunities {
  width: 165px;
}


.rightc {
  list-style-type: none;
  margin-bottom: 0px;
  float: right;
  li {
    margin: 0px 10px;
    font-size: 15px;
    float: left;
    line-height: 40px;
    color: $sa-dark-gray;
    a {
      color: $sa-dark-gray;
    }
  }
}

.nav-margin-buttom {
//  margin-bottom: 5px !important;
}
.step-padding {
  padding-left:40px !important;
}
.step-padding-last {
  padding-left:40px !important;
  padding-bottom: 15px !important;
}


.navbar, .dropdown-menu {
  background: $sa-white;
  border: none;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.6);
}

.dropdown-menu {
  margin-left: 20px;
}

ul li:hover ul.dropdown-menu{
    display: block;	/* Display the dropdown */
}



@media (min-width: 768px) {
  .navbar-nav {
    height: 55px;
    margin-left: -20px;
    margin-right: -25px;
  }
  .navbar-nav > li > a {
      padding-top: 4px !important;
      padding-bottom: 4px !important;
  }

  .navbar-nav > li > .dropdown-menu {
      padding: 0 20px;
      margin-top: -7px;
      width: 290px;
   }
}

.nav-float {
  height: 60px !important;
  padding-top: 0px;
  margin-right: -60px;
}

.nav > li > a {
  font-size: 15px;
  border-bottom: 3px solid transparent;
  margin: 10px 57px 15px 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.dropdown > ul {
  box-shadow: 0 1px 4px rgba(0,0,0,.23);
}

.dropdown-menu > li {
  > a {
    &:focus, &:hover {
      background-color: #FFFFFF;
      border-bottom: 3px solid transparent;
    }
    background-color: #FFFFFF;
    border-bottom: 3px solid transparent;
  }
  background-color: #FFFFFF;
  border-bottom: 3px solid transparent;
}

.nav {
  > li > a {
    &:focus, &:hover {
      border-bottom: 3px solid transparent;
      background-color: #FFFFFF;
    }
  }
  .open > a {
    border-bottom: 3px solid transparent;
    background-color: #FFFFFF;
    &:focus, &:hover {
      border-bottom: 3px solid transparent;
      background-color: #FFFFFF;
    }
  }
}

.dropdown-menu > li > a {
  &:focus, &:hover {
    border-bottom: 3px solid transparent;
  //  background: rgba(154, 154, 154, 0.27);
  }
}

.navbar a {
  color: $sa-dark-gray;
}

.dropdown-menu > li > a {
  color: $sa-dark-gray;
  &:focus, &:hover {
    color: $sa-dark-gray;
  //  font-weight: $font-weight-bold;
  }
}

.navbar-toggle {
  color: $sa-dark-gray;
}

.dropdown-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nav .home a {
  &:hover span, &.active span {
     padding-bottom: 4px !important;
     border-bottom: $sa-light-green 3px solid;
     font-weight: $font-weight-bold;
  }
}



.nav .performance a {
  &:hover span, &.active span {
  //  transition: 0.5s ease;
  //  transition: all 500ms ease-in-out;
    padding-bottom: 4px !important;
    border-bottom: $sa-light-blue 3px solid;
    font-weight: $font-weight-bold;
  }

}


.nav .development a {
  &:hover span, &.active span {
    padding-bottom: 4px !important;
    border-bottom: $sa-orange 3px solid;
    font-weight: $font-weight-bold;
  }
}


.nav .opportunities a {
  &:hover span, &.active span {
    padding-bottom: 4px !important;
    border-bottom: $sa-purple 3px solid;
    font-weight: $font-weight-bold;
  }
}

/*
.nav li {
  &:hover:nth-child(8n+1), &.active:nth-child(8n+1) {
    border-bottom: $sa-light-green 4px solid;
  }
  &:hover:nth-child(8n+2), &.active:nth-child(8n+2) {
    border-bottom: $sa-light-blue 4px solid;
  }
  &:hover:nth-child(8n+3), &.active:nth-child(8n+3) {
    border-bottom: $sa-orange 4px solid;
  }
  &:hover:nth-child(8n+4), &.active:nth-child(8n+4) {
    border-bottom: $sa-purple 4px solid;
  }
  &:hover:nth-child(8n+5), &.active:nth-child(8n+5) {
    border-bottom: $sa-magenta 4px solid;
  }
  &:hover:nth-child(8n+6), &.active:nth-child(8n+6) {
    border-bottom: $sa-turquoise 4px solid;
  }
  &:hover:nth-child(8n+7), &.active:nth-child(8n+7) {
    border-bottom: $sa-red 4px solid;
  }
  &:hover:nth-child(8n+8), &.active:nth-child(8n+8) {
    border-bottom: $sa-yellow 4px solid;
  }
}
*/

.navbar-toggle .icon-bar {
  color: $sa-dark-gray;
  background: #000000;
}


/*
.navbar-brand {
  img {
    margin-top: 0px;
    margin-left: 0px;
  }
  padding: 0px;
}

.header_image {
  margin-top: -70px;
  float: left;
}

.nav.navbar-nav.navbar-left span {
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
  font-weight: 300;
  color: #1b6977;
}

.navbar-left li a {
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
  font-size: 16px;
  color: #1b6977 !important;
}
*/
