/******************************************************************************
  Breadcrumb
*******************************************************************************/
.breadcrumb-box {
  background: transparent;
  overflow: hidden;
}
.breadcrumb {
  background: transparent;
  color: $sa-white;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-left: -30px;
  margin-top: 30px;
  margin-bottom: 30px;
//  padding: 11px 0;

  > .active {
    color: $sa-white;
    font-weight: $font-weight-bold;
  }

  > li {
    line-height: 18px;
    text-shadow: none;


    > a {
      color: $sa-white;
      text-decoration: none;
      transition: opacity .2s linear;

      &:hover {
        opacity: .8;
        filter: alpha(opacity=80);
        transition: opacity .2s linear;
      }
      &:active {
        color: $sa-white;
      }
    }
    + li:before {
      content: "> ";
      padding: 0 6px;
      color: $sa-white;
    }
  }
}
.breadcrumb-none {
  height: 10px;
}
