/******************************************************************************
  Cards
*******************************************************************************/
.card-category{
    border-radius: $border-radius-none;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    .image{
        width: 100%;
        overflow: hidden;
        position: relative;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;

        img {
            width: 100%;
        }
    }
    .placeholder-image {
      width: 100%;
      overflow: hidden;
      position: relative;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;

      img {
        height: 128px;
        width: 128px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 36px;
        margin-bottom: 36px;
      }
    }
    .content{
        padding: 24px 15px 10px 28px;
    }
    .category{
        font-size: $font-size-small;
        color: $dark-gray;
        font-weight: $font-weight-bold;
        margin-bottom: 0px;
        text-transform: uppercase;
        i{
            font-size: $font-paragraph;
        }
    }
    .title{
        font-family: $manifaV2-Regular-font-name;
        margin: 0 0 0 0;
        color: $black-color;
        font-size: $font-size-title;
        font-weight: $font-weight-light;
        line-height: 45px;
    }
    .description{
        font-size: $font-size-description;
        color: $black-color;
        margin: 5px 0px 55px 0px;
        line-height: 1.5;
    }
    .desc{
        margin: $margin-bottom;
        color: $black-color;
        font-weight: $font-weight-light;
    }
    .footer{
        padding: 0;
        background-color: $transparent-bg;
        line-height: 30px;
    }
    .footer div{
        display: inline-block;
    }
    .card-link{
        color: $black-color;
    }
    .read-more {
      font-size: $font-size-read-more;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }
    .read-more i{
        font-size: $font-size-base;
    }
    h6{
        font-size: $font-size-small;
        margin: 0;
    }
    &.card-separator:after{
        height: 100%;
        right: -15px;
        top: 0;
        width: 1px;
        background-color: $medium-gray;
        content: "";
        position: absolute;
    }
}

.card-horizontal {
	color: white;
	display: flex;
	flex-flow: row nowrap;
	min-height: 100%;
  border-radius: $border-radius-none;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  transition: box-shadow .25s;
  margin-bottom: 20px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }

    .image {
    	align-self: center;
    	background-color: transparent;
    	padding: 30px;
      min-height: 100%;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
      img{
          display: block;
          margin-left: auto;
          margin-right: auto;
      }
      .pmp-num {
        position: absolute;
        font-size: 36px;
        font-family: $manifaV2-SemiBold-font-name;
        left: 48px;
        top: 38px;
        width: 20px;
        text-align: center;
      }
      .pmp-text {
        font-size: 12px;
        font-weight: $font-weight-bold;
        padding: 8px 0px 0px 0px !important;
        text-align: center;
      }
    }
    .content{
          background-color: $sa-white;
          padding: 22px 0px 0px 18px;
    }
    .category{
        font-size: $font-size-small;
        color: $dark-gray;
        font-weight: $font-weight-bold;
        margin-bottom: 0px;
        text-transform: uppercase;
        i{
            font-size: $font-paragraph;
        }
    }
    .title{
        font-family: $manifaV2-Regular-font-name;
        margin: 0 0 0 0;
        color: $black-color;
        font-size: $font-size-title;
        font-weight: $font-weight-light;
        line-height: 45px;
    }
    .title2 {
      font-family: $manifaV2-Regular-font-name;
      margin: 0 0 19px 0;
      color: $black-color;
      font-size: $font-size-title;
      font-weight: $font-weight-light;
      margin: -20px 0px 0px 0px;
    }
    .description{
        font-size: $font-size-description;
        color: $black-color;
        margin: 5px 0px 55px 0px;
        padding-right: 22px;
        line-height: 1.5;
    }
    .desc{
        margin: $margin-bottom;
        color: $black-color;
        font-weight: $font-weight-light;
    }
    .footer{
        padding: 0;
        background-color: $transparent-bg;
        margin-bottom: 20px;
    }
    .footer div{
        display: inline-block;
    }
    .card-link{
        color: $black-color;
    }
    .read-more {
      font-size: $font-size-read-more;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }
    .read-more i{
        font-size: $font-size-base;
    }
    h6{
        font-size: $font-size-small;
        margin: 0;
    }
    &.card-separator:after{
        height: 100%;
        right: -15px;
        top: 0;
        width: 1px;
        background-color: $medium-gray;
        content: "";
        position: absolute;
    }
}

.card-horizontal-two {
    border-radius: $border-radius-none;
    box-shadow: 0 1px 4px rgba(0,0,0,.23);
    background-color: $sa-white;
    margin-bottom: 20px;
    cursor: pointer;

    .image{
        width: 100%;
        min-height: 100%;
        overflow: hidden;
        position: relative;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        img{
            height: 52px;
            width: 52px;
            margin: 102px 0px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        i{
            text-align: center;
            font-size: $font-size-h1;
        }
    }

    .content{
          padding: 22px 0px 0px 18px;
    }
    .category{
        font-size: $font-size-small;
        color: $dark-gray;
        font-weight: $font-weight-bold;
        margin-bottom: 7px;
        text-transform: uppercase;
        i{
            font-size: $font-paragraph;
        }
    }
    .title{
        font-family: $manifaV2-Regular-font-name;
        margin: 0 0 19px 0;
        color: $black-color;
        font-size: $font-size-title;
        font-weight: $font-weight-light;
    }
    .description{
        font-size: $font-size-description;
        color: $sa-dark-gray;
        margin-bottom: 55px;
    }
    .desc{
        margin: $margin-bottom;
        color: $black-color;
        font-weight: $font-weight-light;
    }
    .card-link{
        color: $sa-dark-gray;
    }
    .read-more {
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }
    .read-more i{
        font-size: $font-size-base;
    }
    h6{
        font-size: $font-size-small;
        margin: 0;
    }
    &.card-separator:after{
        height: 100%;
        right: -15px;
        top: 0;
        width: 1px;
        background-color: $medium-gray;
        content: "";
        position: absolute;
    }
}

.card-carousel{
    .image{
        height: auto;
        padding-bottom: 20px;
        padding-top: 20px;
        img {
          height: 160px;
          width: 160px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
    }
    .casestudies-image{
        height: auto;
        padding-bottom: 20px;
        img {
          height: 100%;
          width: 100%;
          margin: 0px 20px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
    }
    .title{
        margin: 0;
    }
    .footer{
        line-height: 40px;
        margin: 0;
    }
    .carousel-indicators {
        bottom: -45px;
    }
    .carousel-indicators li {
      //  border: 2px solid $sa-dark-gray;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 30px;
    }
    .carousel-indicators .active {
      background-color: $black-color;
    }

    .carousel-control{
        display: block;
        margin-left: auto;
        margin-right: auto;
        background: transparent !important;
        width: 40px;
        text-shadow: 0 0 0;
        color: $dark-gray;
        @include opacity(0.7);

        &.left .fa{
            left: 5px;
        }
        &.right .fa{
            left: auto;
            right: 5px;
        }
        &:hover,
        &:focus{
            @include opacity(1);
        }
    }

}

.card-news {
    border-radius: $border-radius-none;
    box-shadow: 0 1px 4px rgba(0,0,0,.23);
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;

    .content{
        padding: 24px 15px 10px 28px;
    }

    .category{
        font-size: $font-size-small;
        color: $dark-gray;
        font-weight: bold;
        margin-bottom: 5px;
        text-transform: uppercase;
        i{
            font-size: $font-paragraph;
        }
    }

    .title{
        font-family: $manifaV2-Regular-font-name;
        margin: $margin-bottom;
        color: $black-color;
        font-size: $font-size-title;
        font-weight: $font-weight-light;
    }

    .list-news{
        list-style: none;
        padding: 0 0 0 15px !important;
        margin-bottom: 55px !important;
        li {
          overflow: hidden;
          padding: 22px 0;

          + li {
            border-top-width: 1px;
            margin-right: 15px;
          }
          &:first-child {
            padding-top: 0;
          }
          &:last-child {
            padding-bottom: 0;
          }
          .image {
            float: left;
            height: 84px;
            margin: 5px 25px 0 0;
            width: 84px;
          }
          .news{
              padding: 0px 15px 0px 15px;
          }
          .news-description {
            overflow: hidden;
            padding-right: 5px;
          }
          .news-meta {
            left: inherit;
            color: $sa-black;
            font-size: 11px;
            line-height: 18px;
            margin: 10px 0 0px;
            padding-left: 94px;
            span {
              font-weight: $font-weight-bold;
            }
          }
          a {
            color: $sa-black;
            font-size: 15px;
            line-height: 20px;
            margin: 0;
            transition: opacity linear .2s;

            &:hover {
              opacity: .8;
              filter: alpha(opacity=80);
              text-decoration: none;
            }
          }
        }
    }

    .footer{
        padding: 0;
        background-color: $transparent-bg;
        margin-bottom: 20px;
    }
    .footer div{
        display: inline-block;
    }
    .card-link{
        color: $sa-black;
    }
    .read-more {
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      margin: 0px 0px 20px 30px;
    }
    .read-more i{
        font-size: $font-size-base;
    }
    h6{
        font-size: $font-size-small;
        margin: 0;
    }
    &.card-separator:after{
        height: 100%;
        right: -15px;
        top: 0;
        width: 1px;
        background-color: $medium-gray;
        content: "";
        position: absolute;
    }
}

.card-notification {
    border-radius: $border-radius-none;
    box-shadow: 0 1px 4px rgba(0,0,0,.23);
    background-color: #FFFFFF;
    margin-top: 26px !important;
    .content{
      .title{
          color: $black-color;
          font-size: 14px;
          font-weight: $font-weight-bold;
          padding: 15px 0px 15px 20px;
      }
    }
    .list-news {
      a:hover {
          text-decoration: none !important;
      }
      ul {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        list-style: none;
        li {
          padding: 12px;
          border-top: 1px solid #eee;
          overflow: hidden;
          list-style: none;
          margin: 0px !important;
        }
        .round {
          color: $sa-dark-gray;
          font-size: 24px;
          display: block;
          height: 48px;
          width: 48px;
          padding: 12px;
          float: left;
          margin-right: 10px;
        }
        .news-title {
          font-size: 12px;
          font-weight: $font-weight-bold;
          text-transform: uppercase;
        }
        .news-description {
          color: $sa-black;
          overflow: hidden;
          padding-right: 5px;
          line-height: 22px;
        }
        .news-footer {
          padding: 8px 15px;
        }
      }
    }
    .footer{
        border-top: 1px solid $sa-5-gray;
        padding: 0;
        background-color: $transparent-bg;
        margin-bottom: 20px;
    }
    .footer div{
        display: inline-block;
    }
    .card-link{
        color: $sa-black;
    }
    .read-more {
      font-size: 14px;
      margin: 10px 0px 15px 25px;
    }
    .read-more i{
        font-size: $font-size-base;
    }
    h6{
        font-size: $font-size-small;
        margin: 0;
    }
    &.card-separator:after{
        height: 100%;
        right: -15px;
        top: 0;
        width: 1px;
        background-color: $medium-gray;
        content: "";
        position: absolute;
    }
}

.card-posting {
    .list-news {
      a:hover {
          text-decoration: none !important;
      }
      ul {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        list-style: none;
        li {
          padding: 12px;
          border-top: 1px solid #eee;
          overflow: hidden;
          list-style: none;
          margin: 0px !important;
          padding-left: 0px !important;
        }
        .posting-title {
          font-size: $font-size-description;
          color: $sa-black;
          overflow: hidden;
          line-height: 22px;
        }
      }
    }
    .footer{
        padding-top: 53px !important;
    }
}

.card-action{
    border-radius: $border-radius-none;
    background-color: #FFFFFF;
    margin-bottom: 20px;

    .content{
        padding: 50px;
        font-size: 15px !important;
    }
    .title{
        font-family: $manifaV2-Light-font-name;
        margin: 0 0 0 0;
        font-size: 48px;
        line-height: 45px;
    }
    .description {
      font-size: 15px !important;
      padding-top: 28px;
      margin-left: -47px;
      li {
        padding-bottom: 10px;
      }
    }
    .timeline {
      margin-top: 60px;
      list-style: none;
      padding: 0px;
      position: relative;
      &:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: $sa-15-gray;
        left: 25px;
        margin-right: -1.5px;
      }
      > li {
        margin-bottom: 20px;
        position: relative;
        &:before {
          content: " ";
          display: table;
        }
        &:after {
          content: " ";
          display: table;
          clear: both;
        }
        > {
          .timeline-panel {
            width: calc( 100% - 75px );
            float: right;
            padding: 0px 20px 20px 0px;
            position: relative;
            > {
              .timeline-year {
                font-weight: $font-weight-bold;
              }
              .timeline-year-padding {
                padding-top: 52px;
              }
              .timeline-heading {
                font-size: 18px;
              }
              .timeline-body {

              }
            }
          }
          .timeline-badge {
            width: 10px;
            height: 10px;
            position: absolute;
            top: 10px;
            left: 20px;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
          }
        }
      }
    }

    .timeline-badge {
      &.sa-light-blue {
        background-color: $sa-light-blue !important;
      }
    }

    .footer{
        padding: 0;
        background-color: $sa-white;
        line-height: 30px;
        border-top: 2px solid $sa-light-gray;
        margin: 0px -50px -45px;
        .resources {
          margin: 0 65px;
          padding: 18px 0 25px 0;
        }
        .heading {
          font-size: 15px;
          font-weight: $font-weight-bold;
          margin-bottom: 10px !important;
        }
        .pdf-file {
          font-size: 12px;
          font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
          height: 16px;
          color: $sa-white;
          background-color: #AC000A !important;
          padding: 4px 6px;
          font-weight: bold;
        }

    }
    .footer div{
        display: inline-block;
    }
}


.card-tips {
    border-radius: $border-radius-none;
    background-color: $transparent-bg;
    margin-bottom: 100px;
    background: url('../img/bg-reviewers-tips.png');
    background-repeat: no-repeat;

    .content{
        padding: 50px;
        font-size: 15px;
    }
    .title{
        font-family: $manifaV2-Light-font-name;
        margin: 0 0 0 0;
        font-size: 48px;
        line-height: 45px;
    }
    .description {
      font-size: 16px !important;
      padding-top: 28px;
      margin-left: -47px;
      li {
        padding-bottom: 10px;
      }
    }
}

.reviewers-tips {
    border-radius: $border-radius-none;
    background-color: $transparent-bg;
    margin-bottom: 100px;
    background: url('../img/bg-reviewers-tips.png');
    background-repeat: no-repeat;

    .content{
        padding: 50px;
        font-size: 15px;
    }
    .title{
        font-family: $manifaV2-Light-font-name;
        margin: 0 0 0 0;
        font-size: 48px;
        line-height: 45px;
    }
    .description {
      font-size: 16px !important;
      padding-top: 28px;
      margin-left: -47px;
      li {
        padding-bottom: 10px;
      }
    }
}


.transition-tips {
    border-radius: $border-radius-none;
    background-color: $transparent-bg;
    margin-bottom: 100px;
    background: url('../img/bg-transition-tips.png');
    background-repeat: no-repeat;

    .content{
        padding: 50px;
        font-size: 15px;
    }
    .title{
        font-family: $manifaV2-Light-font-name;
        margin: 0 0 0 0;
        font-size: 48px;
        line-height: 45px;
    }
    .description {
      font-size: 16px !important;
      padding-top: 28px;
      margin-left: -47px;
      li {
        padding-bottom: 10px;
      }
    }
}


.card-user{
    .image{
        height: 110px;
    }
    .image-plain{
        height: 0;
        margin-top: 110px;
    }
    .author{
        text-align: center;
        text-transform: none;
        margin-top: -70px;
    }
    .avatar{
        width: 124px;
        height: 124px;
        border: 5px solid #FFFFFF;
        position: relative;
        margin-bottom: 15px;

        &.border-gray{
            border-color: #EEEEEE;
        }
    }
    .title{
        line-height: 24px;
    }
    .content{
        min-height: 240px;
    }
}


.card-refine{
    .header{
        padding: 10px 15px 0px 15px;
       h4{
            line-height: 40px;
       }
    }
    .content{
        padding: 0;
    }
    .panel{
        background-color: $transparent-bg;
        border-bottom: 0;
        border-top: 1px solid $medium-gray;
    }
    .panel-heading{
        padding: 0;
        box-shadow: 0 0 0;
        border-radius: 0;
    }
    .panel-default > .panel-heading{
        box-shadow: 0 0 0;
        background-color: $transparent-bg;
    }
    .panel-group .panel-heading + .panel-collapse .panel-body {
        border: 0;
    }
    .panel-group .panel-title{
        font-size: 12px;
    }
    .panel-title a{
        padding: 17px 15px;
        display: block;
    }
    .slider{
        margin-top: 10px;
    }
    .radio,
    .checkbox{
        margin-top: -5px;
    }
    .price-left{
        float: left;
    }
    .price-right{
        float: right;
    }
    .panel-scroll{
        height: 273px;
        overflow-y: scroll;
    }

    .panel-group .panel + .panel{
        margin: 0;
    }
    .collapsed{
        i{
            @include rotate-180();
        }
    }
}
.card-price{
    position: relative;
    .price{
        font-weight: $font-weight-light;
        text-align: center;
        font-size: 66px;
        small{
            margin-right: 4px;
            margin-left: -13px;
            color: $black-color;
        }
    }
    .category{
        text-align: center;
        margin-top: 10px;
    }
    .content{
        min-height: 330px;
    }
    .list-unstyled{
        padding-top: 20px;
        font-size: $font-size-base;
        text-align: center;
        color: $dark-gray;
        b{
            color: $black-color;
        }
        li{
            margin-bottom: 5px;
        }
    }
    .list-lines{
        text-align: left;
        li{
            margin: 0;
            padding: 10px 0;
            border-bottom: 1px solid $light-gray;
        }
        li:last-child{
            border: 0;
        }
    }
    .fa{
        width: 26px;
        text-align: center;
        font-size: $font-paragraph;
    }
    &.card-price-best-deal{
        margin-top: -25px;

        .content{
            min-height: 380px;
        }
    }

}

.card-background{
    position: relative;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    .image{
        border-radius: $border-radius-large;
    }
    .filter{
        @include opacity(0.55);
        border-radius: $border-radius-large;
    }
    &:hover .filter{
        @include opacity(0.75);
    }

    .title,
    .stats,
    .category,
    .description,
    small,
    a{
        color: $white-color;
    }
    small{
        font-weight: $font-weight-normal;
    }
    .title{
        margin-top: 30px;
        font-weight: $font-weight-normal;
    }
    .content,
    .footer{
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
    }
    .footer{
        bottom: 0;
        top: auto;
        padding: 10px 15px;
        width: 100%;
        line-height: 40px;
        color: $white-color;
    }
    .avatar{
        border: 2px solid $white-color;
        width: 32px;
        height: 32px;
    }

    .video{
        overflow: hidden;
        border-radius: $border-radius-large;
        position: relative;
        max-height: 300px;
    }
    video{
        width: 100%;
        border-radius: $border-radius-large;
        -webkit-border-radius: $border-radius-large;
    }
    &.state-play .filter,
    &.state-play .content,
    &.state-play .category,
    &.state-play .btn,
    &.state-play .stats{
        @include opacity(0);
    }
    &.state-play:hover .btn{
        @include opacity(1);
    }
    .map{
        border-radius: $border-radius-large;
        height: 300px;
    }
    h1.title{
        font-weight: $font-weight-light;
    }
    .price{
        margin: 0;
        color: $white-color;
    }
}

.card-refine,
.card-product{
    .btn-xs{
        margin: 8px 0;
    }
    .btn-simple{
        padding-left: 0;
        padding-right: 0;
    }
}
.card-user,
.card-price{
    .footer{
        padding: 5px 15px 10px;
    }
    hr{
        margin: 5px 15px;
    }
}
.card-plain{
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;

    .image{
        border-radius: 4px;
    }
}

.filter.filter-white{
    @include filter($white-color);
}
.filter.filter-blue{
    @include filter($filter-blue);
}
.filter.filter-azure{
    @include filter($filter-azure);
}
.filter.filter-green{
    @include filter($filter-green);
}
.filter.filter-orange{
    @include filter($filter-orange);
}
.filter.filter-red{
    @include filter($filter-red);
}
