/******************************************************************************
  Aramco colors
*******************************************************************************/
$sa-white: 			    #FFFFFF;
$sa-dark-gray: 			#676A6E;
$sa-red: 			      #D22630;
$sa-orange: 			  #F68D2E;
$sa-light-orange: 	#F0B323;
$sa-yellow: 			  #FFD100;
$sa-light-green: 		#84BD00;
$sa-dark-green: 		#00843D;
$sa-turquoise: 		  #00968F;
$sa-light-blue: 		#00A3E0;
$sa-dark-blue: 			#0033A0;
$sa-purple: 			  #702082;
$sa-magenta:        #C6007E;
$sa-50-gray:        #808080;
$sa-25-gray:        #C0C0C0;
$sa-15-gray:        #DADADA;
$sa-5-gray:         #E2E2E2;
$sa-black:          #333333;
$sa-light-gray:     #F2F2F2;
