/******************************************************************************
  Helper Classes
*******************************************************************************/
.text-sa-white {
  color: $sa-white !important;
}
.text-sa-black {
  color: $black-color !important;
}
.text-sa-dark-gray {
  color: $sa-dark-gray !important;
}
.text-sa-red {
  color: $sa-red !important;
}
.text-sa-orange {
  color: $sa-orange !important;
}
.text-sa-light-orange {
  color: $sa-light-orange !important;
}
.text-sa-yellow {
  color: $sa-yellow !important;
}
.text-sa-light-green {
  color: $sa-light-green !important;
}
.text-sa-dark-green {
  color: $sa-dark-green !important;
}
.text-sa-turquoise {
  color: $sa-turquoise !important;
}
.text-sa-light-blue {
  color: $sa-light-blue !important;;
}
.text-sa-dark-blue {
  color: $sa-dark-blue !important;
}
.text-sa-purple {
  color: $sa-purple !important;
}
.text-sa-magenta {
  color: $sa-magenta !important;
}
.text-sa-50-gray {
  color: $sa-50-gray !important;
}
.text-sa-25-gray {
  color: $sa-25-gray !important;
}
.text-sa-15-gray {
  color: $sa-15-gray !important;
}


.font-manifaV2-Bold {
  font-family: $manifaV2-Bold-font-name;
}
.font-manifaV2-Bold-Italics {
  font-family: $manifaV2-Bold-Italics-font-name;
}
.font-manifaV2-Light {
  font-family: $manifaV2-Light-font-name;
}
.font-manifaV2-Light-Italics {
  font-family: $manifaV2-Light-Italics-font-name;
}
.font-manifaV2-Regular {
  font-family: $manifaV2-Regular-font-name;
}
.font-manifaV2-Regular-Italics {
  font-family: $manifaV2-Regular-Italics-font-name;
}
.font-manifaV2-SemiBold {
  font-family: $manifaV2-SemiBold-font-name;
}
.font-manifaV2-Thin {
  font-family: $manifaV2-Thin-font-name;
}


.bg-light {
  background-color: #f2f2f2 !important;
}

.bg-sa-white {
  background-color: $sa-white !important;
}
.bg-sa-dark-gray {
  background-color: $sa-dark-gray !important;
}
.bg-sa-red {
  background-color: $sa-red !important;
}
.bg-sa-orange {
  background-color: $sa-orange !important;
}
.bg-sa-light-orange {
  background-color: $sa-light-orange !important;
}
.bg-sa-yellow {
  background-color: $sa-yellow !important;
}
.bg-sa-light-green {
  background-color: $sa-light-green !important;
}
.bg-sa-dark-green {
  background-color: $sa-dark-green !important;
}
.bg-sa-turquoise {
  background-color: $sa-turquoise !important;
}
.bg-sa-light-blue {
  background-color: $sa-light-blue !important;;
}
.bg-sa-dark-blue {
  background-color: $sa-dark-blue !important;
}
.bg-sa-purple {
  background-color: $sa-purple !important;
}
.bg-sa-magenta {
  background-color: $sa-magenta !important;
}
.bg-sa-50-gray {
  background-color: $sa-50-gray !important;
}
.bg-sa-25-gray {
  background-color: $sa-25-gray !important;
}
.bg-sa-15-gray {
  background-color: $sa-15-gray !important;
}


.route {
  &:link {
    background-color: $transparent-bg;
    color: $sa-black;
  }
  &:visited {
    background-color: $transparent-bg;
    color: $sa-black;
  }
  &:hover {
    background-color: $transparent-bg;
    color: $sa-black;
  }
  &:active {
    background-color: $transparent-bg;
    color: $sa-black;
  }
}

.underline {
  text-decoration: underline;
}

.padding-top-masonry {
  padding-top: 26px;
}

.padding-top-bottom-wizard {
    padding: 40px 30px;
    text-align: left;
}

.padding-top-bottom-navbar-wizard {
    padding: 11px 10px;
    text-align: left;
}

.btn-performance-wizard .btn {
    -webkit-border-radius:0 !important;
}
.btn-development-wizard .btn {
    -webkit-border-radius:0 !important;
}
.btn-opportunities-wizard .btn {
    -webkit-border-radius:0 !important;
}

.performance-wizard-scroll, .development-wizard-scroll, .opportunities-wizard-scroll {
  padding: 0px 53px 0px 20px !important;
  display: none !important;
}

.btn-bg-transparent {
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4));
  border: none !important;
  padding-left: 18px;
}

.roadmap-arrow {
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn-steps-min-height {
  min-height: 204px !important;
}

.btn-steps-height {
  min-height: 200px !important;
}

.btn-timeline .btn {
    -webkit-border-radius:0 !important;
}

.tab-pane-margin {
  margin-top: -37px;
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}

.timeline-control {

  .title {
    font-family: ManifaV2-Regular;
    font-size: 36px;
    text-align: left;
    padding: 17px 0px;
  }
  .timeline-table-control {
    margin-top: -22px;
    .phase-title {
      color: $sa-white;
      font-family: $manifaV2-Light-font-name;
      font-size: 32px;
      text-align: left;
      padding: 35px 0px 12px 17px;
    }
    .phase-duration {
      color: $sa-black;
      font-weight: $font-weight-bold;
      font-size: 14px;
      text-align: left;
      padding-left: 17px;
    }
    .phase-description {
      color: $sa-black;
      font-size: 14px;
      text-align: left;
      padding-left: 17px;
    }
    .selected-pmp {
      background-color: rgba(255,142,108,.1);
      border-left: 15px solid #FF8E6C;
    }
  } // Timeline-table-control

} //Timeline control

/* expanding input CSS only */
#searchInput		{
  width:130px;
  -webkit-transition:width 0.3s ease-in-out;
}
#searchInput:focus	{
  width:100%;
  -webkit-transition:width 0.5s ease-in-out;
}

.header-column {
  padding-top: 15px;
  .header {
    font-size: $font-size-description;
    color: $sa-50-gray;
    font-weight: $font-weight-bold;
    padding-bottom: 10px;
  }
}

/* The heart of the matter */
.job-board-steps-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.job-board-steps-group > .row > .col-xs-2 {
  display: inline-block;
  float: none;
}

.reviewers-tips-margin {
  margin-top: -90px !important;
}

.sticky-nav-padding {
  text-align: left;
  padding: 29px 0px 29px 10px;
}

.steps-tiles-padding {
  padding-top: 60px;
  padding-bottom: 50px;
}

.steps-titles-roadmap-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.steps-articles-padding {
  padding-top: 0px;
  padding-bottom: 30px;
}

.steps-wizard-padding-bottom {
  padding-bottom: 95px;
}

.steps-row {
  padding: 0px 12px 15px 12px;
}

.actions-row {
  padding: 10px 12px 15px 12px;
}
.steps-tile {
  border-right: 3px solid $sa-white;
  color: $sa-white;
  padding: 30px 30px;
  cursor: pointer;
  span {
    font-family: ManifaV2-Bold;
    font-size: 24px;
  }
  h1 {
    font-family: ManifaV2-Light;
    font-weight: inherit;
    font-size: 42px;
  }
}

.actions-tile {
  border-right: 1px solid $sa-light-gray;
  color: $sa-white;
  padding: 8px 30px;
  cursor: pointer;
  span {
    font-size: 15px;
    font-weight: $font-weight-bold;
  }
  .actions-list {
    padding-left: 15px !important;
    padding-top: 15px !important;
  }
  .no-title {
    padding-top: 40px !important;
  }
}



.clickable{
    cursor: pointer;
}
.panel-heading {
  span {
    margin-top: -40px;
    font-size: 24px;
    color: $sa-50-gray;
  }
}

.steps-wizard-tile {
  color: $sa-white;
  padding-right: 2px;
  cursor: pointer;
  span {
    font-size: 15px;
    font-weight: $font-weight-bold;
    float: left;
    line-height: 0px;
  }
  h1 {
    font-family: ManifaV2-Light;
    font-weight: inherit;
    font-size: 36px;
    line-height: 70px;
    float: left;
    margin-bottom: 0px !important;
  }
}

.steps-wizard-tile-sticky {
  background-color: $sa-25-gray;
  box-shadow: 0 0px 2px rgba(149, 152, 154, 0.8);
  padding-right: 2px;
  cursor: pointer;
}

.steps-desc {
  margin-top: 6px;
  span {
    font-size: 15px;
  }
}

// Table hover tweak
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: rgba(255,142,108,.1);
  //  background-color: $sa-15-gray;
}

.no-border {
  border-right: none !important;
}

.scroll-pane
{
	width: 100%;
	height: 200px;
	overflow: auto;
}
.horizontal-only
{
	height: auto;
	max-height: 200px;
}


.landing-cards-padding {
  padding-top: 20px;
  padding-bottom: 50px;
}



.nav-padding {
  padding-left: 100px !important;
  padding-right: 100px !important;
}
.app-padding {
  padding-left: 145px !important;
  padding-right: 145px !important;
}


.banner-heading {
    font-family: ManifaV2-Light;
    font-weight: inherit;
    font-size: 60px;
}

.landing-heading {
    font-family: ManifaV2-Light;
    font-weight: inherit;
    font-size: 60px;
  //  padding: 20px 0px 0px 0px;
    padding: 0px;
}

.landing-description {
    padding: 0px 0px 30px 0px;
}

.step-heading {
  font-family: ManifaV2-Light;
  font-weight: inherit;
  font-size: 60px;
  line-height: 35px;
  margin: auto;
  padding: 40px 0px 40px 0px;
}

.step-paragraph {
  font-size: 15px!important;
  padding-bottom: 25px;
  .seprator {
    padding: 0 6px;
  }
}

.footer-heading {
  font-family: ManifaV2-Light;
  font-weight: inherit;
  font-size: 50px;
  color: $sa-black;
  margin-bottom: 40px;
  line-height: 40px;
}


.tag-email {
  font-size: 11px;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  height: 16px;
  color: $sa-white;
  background-color: $sa-dark-blue !important;
  padding: 3px 5px;
  font-weight: bold;
  margin-right: 8px;
}

.tag-link {
  font-size: 11px;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  height: 16px;
  color: $sa-white;
  background-color: $sa-magenta !important;
  padding: 3px 5px;
  font-weight: bold;
  margin-right: 8px;
}

.tag-next {
  font-size: 14px;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  display: inline-block;
  background-color: $sa-orange !important;
  color: $sa-white;
  position: relative;
  padding-right: 5px;
  padding-left: 0px;
  &:before {
    content: "\A";
    border-style: solid;
    border-width: 12px 15px 10px 0;
    border-color: transparent $sa-orange transparent transparent;
    position: absolute;
    left: -15px;
    margin-bottom: -40px;
  }
}

.arrow-left {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  color: $sa-white;
  line-height: 0%;
  width: 0px;
  border-top: 10px solid $sa-white;
  border-right: 20px solid $sa-orange;
  border-bottom: 10px solid $sa-white;
}

.pdf-link {
  font-size: 11px;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  height: 16px;
  color: $sa-white;
  background-color: #AC000A !important;
  padding: 3px 5px;
  font-weight: bold;
  margin-right: 8px;
}

.video-link {
  font-size: 11px;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  height: 16px;
  color: $sa-white;
  background-color: #0033A0 !important;
  padding: 3px 5px;
  font-weight: bold;
  margin-right: 8px;
}

.navbar-tweak {
  margin-top: 0px !important;
  float: right;
  width: 370px;
  position: relative;
}

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    color: $sa-50-gray;
    width: 50px;
    height: 60px;
    line-height: 25px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    &:hover {
      color: $sa-black;
    }
    &.show {
      visibility: visible;
      cursor: pointer;
      opacity: 1.0;
    }
    .top {
      font-size: 15px;
      font-weight: $font-weight-bold;
      color: $sa-50-gray;
      &:hover {
        color: $sa-black;
      }
    }
    i.fa {
      line-height: inherit;
    }
    i.glyphicon {
      line-height: inherit;
    }
}


.drawer {
    position: fixed;
    right: 0px;
    top: 65%;
    overflow-x: hidden; /* Needed for initial hidden state */
    div {
      height: 100%;
      float: left;
    }
    .drawer-handle {
        background: $sa-turquoise no-repeat 88% center;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: $font-weight-bold;
        color: $sa-white;
        width: 94px;
        right: 0px;
        text-align: center;
        padding-bottom: 11px;
        &:hover {
          cursor: pointer;
          opacity: .5;
          transition: opacity .5s ease-in-out;
          -moz-transition: opacity .5s ease-in-out;
          -webkit-transition: opacity .5s ease-in-out;
          -o-transition: opacity .5s ease-in-out;
        }
    }
    .drawer-content {
        width: 200px;
        margin-right: -200px; /* -width */
        background-color: $sa-white;
        p {
          padding: 10px;
          padding-bottom: 27px !important;
        }
    }

    .bubble {
      padding-top: 20px;
      padding-bottom: 13px;
    }

}


.padding-landing-call-to-actions {
  padding: 50px 0px 70px 0px !important;
}


.steps-main {
  padding: 30px 0;
}

.font-size-sixteen {
  font-size: 16px;
}

.gutter-card {
  padding-left: 20px !important;
  padding-right: 27px !important;
}

.bold {
  font-weight: $font-weight-bold;
}

.margin-leader-resources {
  margin: 40px 0px 23px 0px !important;
}

.margin-stepsguide {
  margin-top: 16px;
}

.margin-fourty-border-top {
  margin-top: 50px;
  border-top: 1px solid $sa-15-gray;
}

.padding-left-zero {
  padding-left: 0px !important;
}

.padding-left-eight {
  padding-left: 8px !important;
}

.padding-left-fifteen {
  padding-left: 15px !important;
}

.padding-top-fifty {
  padding-top: 50px !important;
}

.padding-top-hundred {
  padding-top: 100px !important;
}


.padding-right-eight {
  padding-right: 8px !important;
}

.padding-bottom-mainnav {
  padding-bottom: 4px !important;
}

.margin-top-fifty {
  margin-top: 50px !important;
}

.margin-top-twenty {
  margin-top: 20px !important;
}

.margin-right-twenty {
  margin-right: 20px !important;
}

.margin-right-fifty {
  margin-right: 50px !important;
}

.margin-profile {
  margin-right: -40px !important;
}

.floating-container-padding {
  padding-left: 2px !important;
  padding-right: 7px !important;
  background-color: $sa-15-gray;
}


.bg-transparent {
  background: $transparent-bg !important;
}

.margin-right-sticky-profile {
  margin-right: 130px !important;
}

.margin-left-profile {
  margin-left: 365px !important;
}



.margin-minus-five {
  margin-top: -5px;
}
.margin-minus-ten {
  margin-top: -10px;
}

.margin-bottom-ten {
  margin-bottom: 10px !important;
}

.margin-bottom-twenty {
  margin-bottom: 20px !important;
}
.margin-bottom-thirty {
  margin-bottom: 30px !important;
}
.margin-bottom-fifty {
  margin-bottom: 50px !important;
}

.icon-font {
  font-size: 20px !important;
}

// Custom Bootstrap Five Columns Grid
.col-sm-7.five-three {
  width: 60% !important;
}
.col-sm-5.five-two {
  width: 40% !important;
}

.performance-header-overlay {
    margin-top: 120px;
    height: 620px;
  //  background: linear-gradient(rgba(0,163,224,.3), rgba(0,77,134,.3)), url('../img/performance-banner.png');
    background: linear-gradient(rgba(0,100,137,.7), rgba(0,41,72,.7)), url('../img/performance-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
    z-index:-100;
}

.performance-my-pmp-header-overlay {
    margin-top: 120px;
    height: 450px;
    background: linear-gradient(rgba(0,100,137,.7), rgba(0,41,72,.7)), url('../img/performance-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
    z-index:-100;
}

.performance-steps-header-overlay {
    margin-top: 120px;
    height: 500px;
    background: linear-gradient(rgba(0,100,137,.7), rgba(0,41,72,.7)), url('../img/performance-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
    z-index:-100;
}

.performance-timeline-header-overlay {
    margin-top: 120px;
    height: 460px;
    background: linear-gradient(rgba(0,100,137,.7), rgba(0,41,72,.7)), url('../img/performance-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
    z-index:-100;
}

.performance-leader-resources-overlay {
    margin-top: 120px;
    height: 720px;
    background: linear-gradient(rgba(0,100,137,.7), rgba(0,41,72,.7)), url('../img/performance-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
    z-index:-100;
}

.development-header-overlay {
    margin-top: 120px;
    height: 660px;
  //  background: linear-gradient(rgba(203,71,2,.3),rgba(246,141,46,.3)), url('../img/development-banner.png');
    background: linear-gradient(rgba(116,55,0,.7), rgba(78,27,0,.7)), url('../img/development-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
    z-index:-100;
}

.development-roadmap-header-overlay {
    margin-top: 120px;
    height: 680px;
  //  background: linear-gradient(rgba(203,71,2,.3),rgba(246,141,46,.3)), url('../img/development-banner.png');
    background: linear-gradient(rgba(116,55,0,.7), rgba(78,27,0,.7)), url('../img/development-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
    z-index:-100;
}

.development-myplan-header-overlay {
    margin-top: 120px;
    height: 500px;
    background: linear-gradient(rgba(116,55,0,.7), rgba(78,27,0,.7)), url('../img/development-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
    z-index:-100;
}

.development-steps-header-overlay {
    margin-top: 120px;
    height: 380px;
    background: linear-gradient(rgba(116,55,0,.7), rgba(78,27,0,.7)), url('../img/development-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
    z-index:-100;
}

.opportunites-header-overlay {
    margin-top: 120px;
    height: 680px;
    background: linear-gradient(rgba(66,19,76,.7), rgba(32,0,39,.7)), url('../img/opportunity-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
    z-index:-100;
}


.opportunites-steps-header-overlay {
    margin-top: 120px;
    height: 380px;
    background: linear-gradient(rgba(66,19,76,.7), rgba(32,0,39,.7)), url('../img/opportunity-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
    z-index:-100;
}

.opportunites-job-posting-overlay {
    margin-top: 120px;
    height: 520px;
    background: linear-gradient(rgba(66,19,76,.7), rgba(32,0,39,.7)), url('../img/opportunity-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
    z-index:-100;
}


.overlay {
  color:#fff;
  position:absolute;
  z-index:12;
  top:70%;
  left:0;
  width:100%;
  text-align:center;
}


.image-poster {
  //cursor: zoom-in;
  position: relative;
  margin: 50px auto;
  img {
    width: 100%;
    height: 100%;
    border-radius: 0px !important;
  }
  .zoom-icon {
    cursor: pointer;
    position: absolute;
    top: 86.9%;
    left: 6.2%;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
  }
  .top90 {
    top: 90.9% !important;
  }
}

.fancybox-close {
  line-height: 24px !important;
}
.zoom-icon:hover {
  background-color: rgba(0, 0, 0, 0.5); //semi-transparent black
}


.video-poster {
  position: relative;
  width: 456px;
  height: 257px;
  margin: 105px auto;
  img {
    width: 100%;
    height: 100%;
  }
  .play-icon {
    cursor: pointer;
    position: absolute;
    top: 84.5%;
    left: 8.7%;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
  }
}
.play-icon:hover {
  background-color: rgba(0, 0, 0, 0.5); //semi-transparent black
}


.steps-video-poster {
  position: relative;
  width: 456px;
  height: 309px;
  margin-left: 60px;
  img {
    width: 100%;
    height: 100%;
  }
  .play-icon {
    cursor: pointer;
    position: absolute;
    top: 86.9%;
    left: 8.8%;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
  }
}
.play-icon:hover {
  background-color: rgba(0, 0, 0, 0.5); //semi-transparent black
}




.close {
  float: none;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  color: #7f7f7f;
  position: relative;
  text-shadow: none;
  opacity: 1;
  filter: alpha(opacity=100);
  vertical-align: top;
  transition: color .2s linear;

  &:hover {
    color: #1e1e1e;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  span {
    display: inline-block;
    font-size: 12px;
    font-family: Arial;
    line-height: 12px;
    margin-top: 2px;
    vertical-align: top;
  }
}
a.edit {
  color: #707070;
  font-size: 12px;
  text-decoration: none;
  transition: opacity .2s linear;

  &:hover {
    color: #707070;
    opacity: 0.8;
    filter: alpha(opacity=80);
    transition: opacity .2s linear;
  }
  i:before {
    font-style: italic;
    line-height: 9px;
    margin: 0;
  }
}
.rating-box {
  background-image: url("../img/svg/rating.svg"), none;
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 12px;
  width: 73px;

 .rating {
    height: 12px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 73px;

    * {
      vertical-align: top;
    }
    .pricing-info & svg polygon {
      fill: $info;
    }
    .pricing-success & svg polygon {
      fill: $success;
    }
    .pricing-warning & svg polygon {
      fill: $warning;
    }
    .pricing-error & svg polygon,
    .pricing-danger & svg polygon {
      fill: $danger;
    }
  }
}
.reviews-box {
  color: #7f7f7f;
  font-size: 12px;
  line-height: 14px;

  .rating-box {
    float: left;
    margin: 0 20px 0 0;
  }
  .separator {
    margin: 0 4px;
  }
  .add-review {
    color: #7f7f7f;
    text-decoration: none;

    &:hover {
      opacity: .8;
      filter: alpha(opacity=80);
      -webkit-transition: opacity .2s linear;
      transition: opacity .2s linear;
    }
  }
}
.display-t {
  display: table;
}
.display-tc {
  display: table-cell;
}
.slim {
  font-weight: normal;
}
.border-radius {
  border-radius: 5px;
}
.bg {
  background-color: #f2f2f2;
}
.border {
  border-width: 1px;
}
.width-auto .col-md-1,
.width-auto .col-md-2,
.width-auto .col-md-3,
.width-auto .col-md-4,
.width-auto .col-md-5,
.width-auto .col-md-6,
.width-auto .col-md-7,
.width-auto .col-md-8,
.width-auto .col-md-9,
.width-auto .col-md-10,
.width-auto .col-md-11,
.width-auto .col-md-12 {
  float: left;
  width: auto;
}
.margin-center {
  margin: 0 auto;
}
.bottom-padding {
  margin-bottom: 80px;
}
.bottom-padding-mini {
  margin-bottom: 40px;
}
.bottom-padding.last {
  margin-bottom: 0;
}
.no-top-padding {
  padding-top: 0 !important;
}

/* rotation */
.rotation {
  background: none;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;

  &.product,
  &.employee {
    overflow: visible;
  }
  .default,
  .front-end {
    overflow: hidden;
    position: relative;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    transform: rotateY(0deg);
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    z-index: 24;
  }
  .default {
    background: #f7f7f7;
    border-radius: 3px;
  }
  &.product .product-hover,
  .back-end {
    display: block;
    height: inherit;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    /*-webkit-backface-visibility: hidden;*/
    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    transform: rotateY(-180deg);
    -moz-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    width: 100%;
    z-index: 13;
  }
  &.hover {
    .default,
    .front-end {
      z-index: 35;
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      transform: rotateY(180deg);
      -webkit-transition-delay: .2s;
      -moz-transition-delay: .2s;
      transition-delay: .2s;
    }
    .product-hover,
    .back-end {
      z-index: 46;
      -webkit-transform: rotateX(0deg) rotateY(0deg);
      -moz-transform: rotateX(0deg) rotateY(0deg);
      transform: rotateY(0deg);
      -webkit-transition-delay: .2s;
      -moz-transition-delay: .2s;
      transition-delay: .2s;
    }
  }
}
.btn.dropdown-toggle,
.btn.dropdown-toggle:hover,
.btn.dropdown-toggle:focus {
  outline: none;
}
.btn-group.btn-select {
  color: #7f7f7f;
  font-size: 12px;
  vertical-align: top;

  .dropdown-toggle {
    background: rgba(255,255,255,.1);
    border: 1px solid transparent;
    box-shadow: none;
    color: #7f7f7f;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding: 0 7px 3px;
    z-index: 2;
  }
  .btn.dropdown-toggle .caret {
    color: #fff;
    color: rgba(255,255,255,.5);
    margin-left: 0;
  }
  &.open {
    .btn.dropdown-toggle {
      background: #fff;
      border: 1px solid #ccc;
      border-bottom: 0 none;
      border-radius: 3px 3px 0 0;
      box-shadow: 0 0 5px rgba(0,0,0,.15);
      color: #7f7f7f;

      &:after {
        background: #fff;
        bottom: 0;
        content: "";
        display: block;
        height: 6px;
        left: 0px;
        margin: 0 0 -6px;
        position: absolute;
        right: 0;
        top: auto;
        z-index: 27;
        -webkit-animation: fadeIn 0.3s;
        animation: fadeIn 0.3s;
      }
      .caret {
        color: #777;
      }
    }
  }
  .dropdown-menu {
    border-radius: 0 3px 3px 3px;
    margin: 0;
    padding-top: 8px;
    z-index: 25;

    > li > a {
      font-size: 12px;
      line-height: 22px;
      padding: 4px 6px;

      &:hover {
        background: #f2f2f2;
      }
      img {
        margin: 5px 9px 0 0;
        vertical-align: top;
      }
    }
  }
}
.jslider .jslider-pointer {
  background: none;
  height: 12px;
  margin: 0 0 0 -4px;
  width: 8px;

  svg {
    vertical-align: top;
  }
}
.pagination-box {
  margin: 40px 0 0;
}
.pagination-box .pagination {
  margin: 0 10px 0 0;
}
.map-box {
  iframe {
    border: 0 none;
    border-radius: 5px;
    width: 100%;
  }
  img {
    max-width: inherit;
  }
}
.map-canvas {
  height: 400px;

  * {
    border: 0 none;
  }
}
.map-content {
  width: 200px;

  .title {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.caret {
  color: #777;
  border: 0 none;
  height: 6px;
  width: 9px;

  &:before {
    content: "\f107";
    display: block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 6px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 6px;
    position: absolute;
    width: 9px;
  }
  .open & {
    color: #777;
  }
  .btn & {
    margin: -2px 0 0;
  }
  .btn-group & {
    color: #fff;
  }
  .dropup &,
  .navbar-fixed-bottom .dropdown & {
    border: 0 none;

    &:before {
      content: "\f106";
    }
  }
}
.help-block {
  margin-top: -10px;
  margin-bottom: 15px;
}
.buttons-box .required {
  font-size: 11px;
}
/* Social */
.social {
  .social-list {
    margin: 0 -4px;
  }
  .icon {
    background: #1e1e1e;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-left: 4px;
    margin-right: 4px;
    opacity: .35;
    filter: alpha(opacity=35);
    transition: opacity .2s linear;
    text-align: center;
    width: 40px;

    &:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      transition: opacity .2s linear;
    }
  }
  .icon-facebook {
    background: #3b5998;
  }
  .icon-twitter {
    background: #00bdec;
  }
  .icon-google {
    background: #d94a39;
  }
  .icon-linkedin {
    background: #1b92bd;
  }
}
/* Filter */
.filter-elements-wrapper {
  margin: 0 auto;
}
.filter-buttons {
  display: block;
  margin-bottom: 30px;

  .dropdown-toggle {
    background: transparent;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    color: #1e1e1e;
    display: block;
    float: left;
    font-weight: bold;
    height: 38px;
    line-height: 38px;
    margin-right: 20px;
    padding: 0 10px 0 20px;
    transition: opacity .2s ease-out;

    .caret {
      color: #777;
      margin: -2px 0 0 5px;
    }
    &:hover {
      background: transparent;
      text-decoration: none;
      opacity: .7;
      filter: alpha(opacity=70);
      transition: opacity .2s ease-out;
    }
  }
  .dropdown-menu {
    border: 1px solid #e1e1e1;

    .active {
      background-color: #f5f5f5;
    }
  }
  &.open {
    .dropdown-toggle {
      background: transparent;
    }
  }
  &.white {
    .dropdown-toggle,
    .dropdown-toggle .caret {
      color: #fff;
    }
  }
}
/* Isotop */
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.grid-sizer {
  min-height: 0;
}
.year-regulator {
  padding-top: 13px;

  .label {
    color: inherit;
    display: table-cell;
    font-size: 12px;
    line-height: 14px;
    padding: 0 20px 0 0;
    text-align: left;
    vertical-align: middle;
  }
  .layout-slider {
    display: table-cell;
    width: 100%;

    input[type="slider"] {
      visibility: hidden;
    }
  }
}
@media (max-width: 600px) {
  .hidden-600 {
    display: none !important;
  }
}
