/******************************************************************************
  Hero Sliders
*******************************************************************************/
.hero-slider {
  width: 100%;
  margin-top: 120px;
}

/*  Hero Headers        */
/********************************/
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);

  h1 {
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
}

.margin-tagline-one {
//  margin-top: -5px;
}
.margin-tagline-two {
  margin-top: -55px;
}
.margin-tagline-p {
  margin-top: -21px;
  margin-bottom: 39px;
}

.btn-intro {
  padding: 20px 60px !important;
  font-weight: bold;
  color: $sa-white !important;
}

.btn-landing {
  padding: 20px 0px !important;
  font-weight: bold;
}

.fade-carousel .carousel-inner .item {
  .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
  }
  &.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
  }
}
@media (min-width: 768px) {
  .carousel-indicators {
      bottom: 0px;
  }
  .carousel-indicators li {
  //  width: 12px;
  //  height: 12px;
    border: none;
    background-color: rgba(192,192,192,0.30);
  }
}

.slide-arrow {
  position: relative;
  font-size: 40px;
  top: 45%;
}



/********************************/
/*   carousel-caption           */
/********************************/
.carousel-caption {
padding-top: 48px !important;
left: 33%;
bottom:75px;
margin: auto;
//background-color: $sa-white;
background:rgba(255,255,255,0.90);
text-align:center;
height:auto;
max-width:35%;
text-shadow:none !important;
border:none !important;
}
