/******************************************************************************
  Vertical Tabs
*******************************************************************************/
.nav-tabs > li.active > a {
  border-width: 0;
  &:focus, &:hover {
    border-width: 0;
  }
}

.nav-stacked > li + li {
  margin-top: 0px;
}

.nav-tabs > li {
  > a {
    padding: 50px 100px 50px 100px !important;
    color: #AAAAAA;
    background-color: #E3F2FD;
    border: 0px;
    border-radius: 0px;
    margin: 0;
    &:hover, &:focus {
      background-color: #448AFF;
      color: #FFFFFF;
      z-index: 99;
      transition: all 0.5s ease 0s;
    }
  }
  &.active > a {
    color: #FFFFFF;
    background-color: $sa-light-blue;
    z-index: 100;
    &:hover, &:focus {
      color: #FFFFFF;
      background-color: $sa-light-blue;
      box-shadow: 0 0px 5px rgba(0, 0, 0, 0.6);
      transition: all 0.5s ease 0s;
    }
  }
}
