.masonry-grid {
  width: 100%;
  margin: 0px 0px 33px 10px;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  &:after {
    display: block;
    clear: both;
  }
}

/* ---- masonry grid-item ---- */
.masonry-grid-item {
  width: 31%;
//  width: 360px;
  float: left;
  margin: 10px;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  &:before {
    display: block;
  }
  img {
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  &:hover img {
    opacity: .75;
  }

}


@media only screen and (min-width: 1024px) {
  .masonry-grid {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .masonry-grid {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
  .masonry-grid-item {
    width: 100%;
    float: left;
    margin: 10px;
    padding-right: 50px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .masonry-grid {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
  .masonry-grid-item {
    width: 100%;
    float: left;
    margin: 10px;
    padding-right: 40px;
  }

}
