$main-font-color: #333;
$main-font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$main-font-size: 14px;
$main-font-weight: 400;

$header-height: 113px;
$footer-height: 134px;
$header-bg: rgba(#fff, .97);
$preloader-img: "../img/svg/loader.svg";

$general-color: #1e1e1e;
$primary:       #037ac5;
$primary-hover: lighten($primary, 10%);
$success:       #738d00;
$success-hover: lighten($success, 10%);
$info:          #0098ca;
$info-hover:    lighten($info, 10%);
$warning:       #f89406;
$warning-hover: lighten($warning, 10%);
$danger:        #c10841;
$danger-hover:  lighten($danger, 10%);

$performance:        #00A3E0;
$performance-hover:  lighten($performance, 10%);
$development:        #F68D2E;
$development-hover:  lighten($development, 10%);
$opportunities:        #702082;
$opportunities-hover:  lighten($opportunities, 10%);

$color-types: (
  warning $warning $warning-hover,
  danger $danger $danger-hover,
  info $info $info-hover,
  success $success $success-hover
);

$media-md: 1199px;
$media-sm: 991px;
$media-xs: 767px;

%font-awesome {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}


$manifaV2-font-path: "../fonts/ManifaV2/" !default;

//** File names for all ManifaV2 font files.
$manifaV2-Bold-font-name:                    "ManifaV2-Bold";
$manifaV2-Bold-font-file-name:               "ManifaV2-Bold.ttf" !default;

$manifaV2-Bold-Italics-font-name:            "ManifaV2-BoldItalics";
$manifaV2-Bold-Italics-font-file-name:       "ManifaV2-BoldItalics.ttf" !default;

$manifaV2-Light-font-name:                   "ManifaV2-Light";
$manifaV2-Light-font-file-name:              "ManifaV2-Light.ttf" !default;

$manifaV2-Light-Italics-font-name:           "ManifaV2-LightItalics";
$manifaV2-Light-Italics-font-file-name:      "ManifaV2-LightItalics.ttf" !default;

$manifaV2-Regular-font-name:                 "ManifaV2-Regular";
$manifaV2-Regular-font-file-name:            "ManifaV2-Regular.ttf" !default;

$manifaV2-Regular-Italics-font-name:         "ManifaV2-RegularItalics";
$manifaV2-Regular-Italics-font-file-name:    "ManifaV2-RegularItalics.ttf" !default;

$manifaV2-SemiBold-font-name:                "ManifaV2-SemiBold";
$manifaV2-SemiBold-font-file-name:           "ManifaV2-SemiBold.ttf" !default;

$manifaV2-Thin-font-name:                    "ManifaV2-Thin";
$manifaV2-Thin-font-file-name:               "ManifaV2-Thin.ttf" !default;


@mixin rem($property, $values) {
  $font-size: $main-font-size;
  $px-values: ();
  $rem-values: ();

  @each $value in $values {
    @if $value == 0 or $value == 0px {
      $px-values: join($px-values, 0);
      $rem-values: join($rem-values, 0);
    } @else if type-of($value) == number and not unitless($value) and (unit($value) == px) {
      $new-rem-value: $value / $font-size;
      $px-values: join($px-values, round($value));
      $rem-values: join($rem-values, #{$new-rem-value}rem);
    } @else if type-of($value) == number and not unitless($value) and (unit($value) == "%") {
      $px-values: join($px-values, #{$value});
      $rem-values: join($rem-values, #{$value});
    } @else if $value == auto {
      $px-values: join($px-values, auto);
      $rem-values: join($rem-values, auto);
    } @else {
      $px-values: join($px-values, round($value * $font-size));
      $rem-values: join($rem-values, #{$value}rem);
    }
  }

  #{$property}: $px-values;
  #{$property}: $rem-values;
}



$none:                       0   !default;
$border-thin:                1px !default;
$border-thick:               2px !default;

$white-color:                #FFFFFF !default;
$white-bg:                   #FFFFFF !default;

$smoke-bg:                   #F5F5F5 !default;

$black-bg:                   rgba(30,30,30,.97) !default;

$black-color:                #333333 !default;
$black-hr:                   #444444 !default;

$light-gray:                 #E3E3E3 !default;
$medium-gray:                #DDDDDD !default;
$dark-gray:                  #9A9A9A !default;

$transparent-bg:             transparent !default;

$default-color:              #888888 !default;
$default-bg:                 #888888 !default;
$default-states-color:       #777777 !default;

$primary-color:              #3472F7 !default;
$primary-bg:                 #3472F7 !default;
$primary-states-color:       #1D62F0 !default;

$success-color:              #05AE0E !default;
$success-bg:                 #05AE0E !default;
$success-states-color:       #049F0C !default;

$info-color:                 #2CA8FF !default;
$info-bg:                    #2CA8FF !default;
$info-states-color:          #109CFF !default;

$warning-color:              #FF9500 !default;
$warning-bg:                 #FF9500 !default;
$warning-states-color:       #ED8D00 !default;


$danger-color:               #FF3B30 !default;
$danger-bg:                  #FF3B30 !default;
$danger-states-color:        #EE2D20 !default;



$link-disabled-color:        #666666 !default;


/*      light colors         */
$light-blue:                 rgba($primary-color, .2);
$light-azure:                rgba($info-color, .2);
$light-green:                rgba($success-color, .2);
$light-orange:               rgba($warning-color, .2);
$light-red:                  rgba($danger-color, .2);


//== Components
//

$padding-base-vertical:         8px !default;
$padding-base-horizontal:      16px !default;

$padding-round-vertical:        9px !default;
$padding-round-horizontal:     18px !default;

$padding-simple-vertical:      10px !default;
$padding-simple-horizontal:    18px !default;

$padding-large-vertical:       14px !default;
$padding-large-horizontal:     30px !default;

$padding-small-vertical:        5px !default;
$padding-small-horizontal:     10px !default;

$padding-xs-vertical:           1px !default;
$padding-xs-horizontal:         5px !default;

$padding-label-vertical:        2px !default;
$padding-label-horizontal:     12px !default;

$margin-large-vertical:        30px !default;
$margin-base-vertical:         15px !default;

$margin-bottom:                0 0 10px 0 !default;
$border-radius-none:            0px !default;
$border-radius-xsmall:          1px !default;
$border-radius-small:           3px !default;
$border-radius-base:            4px !default;
$border-radius-large:           6px !default;
$border-radius-extreme:        10px !default;

$border-radius-large-top:      $border-radius-large $border-radius-large 0 0 !default;
$border-radius-large-bottom:   0 0 $border-radius-large $border-radius-large !default;

$btn-round-radius:             30px !default;

$height-base:                  40px !default;

$font-size-base:               14px !default;
$font-size-small:              13px !default;
$font-size-read-more:          13px !default;
$font-size-medium:             16px !default;
$font-size-large:              18px !default;
$font-size-large-navbar:       20px !default;

$font-size-h1:                 52px !default;
$font-size-h2:                 36px !default;
$font-size-h3:                 28px !default;
$font-size-h4:                 22px !default;
$font-size-h5:                 18px !default;
$font-size-h6:                 14px !default;
$font-paragraph:               16px !default;
$font-size-navbar:             16px !default;
$font-size-small:              13px !default;

$font-size-logo:             42px !default;
$font-size-title:            42px !default;
$font-size-description:      15px !default;


$font-weight-light:          300 !default;
$font-weight-normal:         400 !default;
$font-weight-semi:           500 !default;
$font-weight-bold:           bold !default;

$line-height-general:          1.5 !default;
$line-height:                 20px !default;
$line-height-lg:              54px !default;


$border-radius-top:        10px 10px 0 0 !default;
$border-radius-bottom:     0 0 10px 10px !default;

$dropdown-shadow:          1px 2px 3px rgba(0, 0, 0, 0.125);

$general-transition-time:  300ms !default;

$slow-transition-time:           370ms !default;
$dropdown-coordinates:      29px -50px !default;

$fast-transition-time:           150ms !default;
$select-coordinates:         50% -40px !default;

$transition-linear:                                   linear !default;
$transition-bezier:         cubic-bezier(0.34, 1.61, 0.7, 1) !default;
$transition-ease:           ease 0s;

$navbar-padding-a:               10px 15px;
$navbar-margin-a:                15px  3px;

$padding-social-a:               10px  5px;

$navbar-margin-a-btn:            15px 3px;
$navbar-margin-a-btn-round:      16px 3px;

$navbar-padding-a-icons:         6px 15px;
$navbar-margin-a-icons:          6px  3px;

$navbar-padding-brand:           20px 15px;
$navbar-margin-brand:             5px  0px;

$navbar-margin-brand-icons:      12px auto;

$navbar-margin-btn:              15px  3px;

$height-icon:					 64px !default;
$width-icon:					 64px !default;
$padding-icon:					 12px !default;
$border-radius-icon:		     15px !default;

$size-icon: 					 64px;
$size-icon-sm: 					 32px;


$height-icon-sm:				 32px;
$width-icon-sm:					 32px;
$padding-icon-sm:			     4px;
$border-radius-icon-sm:			 7px;

$height-icon-message:			 40px;
$width-icon-message:			 40px;

$height-icon-message-sm: 		 20px;
$width-icon-message-sm:			 20px;



$white-navbar:              rgba(#FFFFFF, .96);
$blue-navbar:               rgba(#34ACDC, .98);
$azure-navbar:              rgba(#5BCAFF, .98);
$green-navbar:              rgba(#4CD964, .98);
$orange-navbar:             rgba(#FF9500, .98);
$red-navbar:                rgba(#FF4C40, .98);

$icon-default-color-top:	#d9d9d9 !default;
$icon-default-color-bottom: #909297 !default;

$icon-blue-color-top: 		#4087ea;
$icon-blue-color-bottom: 	#533ce1;

$icon-azure-color-top:   	#45c0fd;
$icon-azure-color-bottom: 	#4091ff;

$icon-green-color-top: 	    #a1eb3a;
$icon-green-color-bottom: 	#6dc030;

$icon-orange-color-top: 	#ffb33b;
$icon-orange-color-bottom: 	#ff5221;

$icon-red-color-top: 	    #ff3b30;
$icon-red-color-bottom: 	#bb0502;

$icon-purple-color-top: 	#df55e1;
$icon-purple-color-bottom: 	#943bea;

$icon-pink-color-top: 		#ff2a63;
$icon-pink-color-bottom: 	#ff2e2e;

$icon-black-color-top:	 	#787878;
$icon-black-color-bottom: 	#343434;


$filter-blue:         darken($primary-color, 10%);
$filter-azure:        darken($info-color, 10%);
$filter-green:        darken($success-color, 10%);
$filter-orange:       darken($warning-color, 10%);
$filter-red:          darken($danger-color, 10%);


$topbar-x:             topbar-x !default;
$topbar-back:          topbar-back !default;
$bottombar-x:          bottombar-x !default;
$bottombar-back:       bottombar-back !default;
