.timesheet {
  margin-bottom: 50px !important;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-top: 1px solid $sa-light-blue;
  background-color: $sa-white;
  position: relative;
  overflow-x: auto;
  &.color-scheme-default {
    .bubble-blue {
      background-color: $sa-light-blue;
    }
    .bubble-title {
      background-color: transparent;
    }
    .bubble-diamond {
        width: 12px !important;
        height: 12px !important;
        background: $sa-red;
        /* Rotate */
        -webkit-transform: rotate(-45deg) !important;
        -moz-transform: rotate(-45deg) !important;
        -ms-transform: rotate(-45deg) !important;
        -o-transform: rotate(-45deg) !important;
        transform: rotate(-45deg);
        /* Rotate Origin */
        -webkit-transform-origin: 0 100% !important;
        -moz-transform-origin: 0 100% !important;
        -ms-transform-origin: 0 100% !important;
        -o-transform-origin: 0 100% !important;
        transform-origin: 0 100% !important;
    }
    .bubble-default {
      background-color: RGBA(252, 70, 74, 1);
    }
    .bubble-lorem {
      background-color: RGBA(154, 202, 39, 1);
    }
    .bubble-ipsum {
      background-color: RGBA(60, 182, 227, 1);
    }
    .bubble-dolor {
      background-color: RGBA(244, 207, 48, 1);
    }
    .bubble-sit {
      background-color: RGBA(169, 105, 202, 1);
    }
  }
  .header {
    height: 100%;
    position: absolute;
  }
  .scale {
  //  height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    margin: 0 auto;
    width: 100%;
    background-color: $sa-light-blue;
    .year {
      padding: 40px 0px 5px 0px;
      color: $sa-white;
      font-size: 13px;
      font-weight: $font-weight-bold;
    }
    .month {
      background-color: $sa-light-blue;
      padding: 11px 0px 5px 0px;
      color: $sa-white;
      font-size: 13px;
      font-weight: $font-weight-bold;
    }
    section {
      width: 100%;
      float: left;
    //  width: 59px;
      text-align: center;
      color: rgba(250, 250, 250, 0.8);
      font-family: $main-font-family;
      font-size: 13px;
      line-height: 24px;
      font-weight: lighter;
      border-left: 1px solid $sa-light-blue;
      height: 100%;
    }
  }
  .data {
    margin: 28px 0 0 0;
    padding: 100px 0;
    text-align: left;
    list-style-type: none;
    color: rgba(250, 250, 250, 0.8);
    font-family: $main-font-family;
    font-size: 13px;
    overflow: scroll;
    li {
      margin: 0 0 50px 0;
      line-height: 22px;
      height: 21px;
      display: block;
      clear: both;
      position: relative;
      white-space: nowrap;
      &:hover .bubble {
        opacity: 1;
      }
      .title-one {
        font-family: ManifaV2-SemiBold;
        font-size: 32px;
        color: $sa-black;
      }
      .title-two {
        font-family: manifaV2-Light;
        font-size: 32px;
        color: $sa-black;
      }
      .date {
      //  color: #b5b5b5;
        color: $sa-black;
        font-size: 14px;
        font-weight: $font-weight-bold;
      }
      .label {
        font-weight: lighter;
        font-size: 14px;
        padding-left: 0px;
        line-height: 21px;
        color: $sa-black;
        white-space: nowrap;
      }
      .bubble {
        width: 24px;
        height: 8px;
        display: block;
        float: left;
        position: relative;
        top: 7px;
    //    border-radius: 4px;
        margin: 0 10px 0 0;
    //    opacity: 0.7;
      }

    }
  }
}

.scrollable {
  overflow: scroll;
}

.title-margin {
  padding-top: 30px !important;
}

#timesheet-alternative {
  background-color: RGBA(247, 247, 247, 1);
  border-radius: 5px;
  section {
    color: RGBA(63, 68, 72, 1);
    border-left: 1px dashed RGBA(63, 68, 72, 0.2);
    &:first-child {
      border-left: 1px dashed transparent;
    }
  }
  .date {
    display: none;
  }
  .bubble {
    margin-right: 7px;
  }
  .label {
    padding-left: 0px;
    color: RGBA(48, 48, 48, 1);
  }
}
