/******************************************************************************
  Manifa Version2   Font
*******************************************************************************/

// Import the fonts
@font-face {
  font-family: $manifaV2-Bold-font-name;
  src: url($manifaV2-font-path+$manifaV2-Bold-font-file-name);
}

@font-face {
  font-family: $manifaV2-Bold-Italics-font-name;
  src: url($manifaV2-font-path+$manifaV2-Bold-Italics-font-file-name);
}


@font-face {
  font-family: $manifaV2-Light-font-name;
  src: url($manifaV2-font-path+$manifaV2-Light-font-file-name);
}

@font-face {
  font-family: $manifaV2-Light-Italics-font-name;
  src: url($manifaV2-font-path+$manifaV2-Light-Italics-font-file-name);
}

@font-face {
  font-family: $manifaV2-Regular-font-name;
  src: url($manifaV2-font-path+$manifaV2-Regular-font-file-name);
}

@font-face {
  font-family: $manifaV2-Regular-Italics-font-name;
  src: url($manifaV2-font-path+$manifaV2-Regular-Italics-font-file-name);
}

@font-face {
  font-family: $manifaV2-SemiBold-font-name;
  src: url($manifaV2-font-path+$manifaV2-SemiBold-font-file-name);
}

@font-face {
  font-family: $manifaV2-Thin-font-name;
  src: url($manifaV2-font-path+$manifaV2-Thin-font-file-name);
}
